<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>카테고리로 장소 검색하기</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.js"></script>
</head>
<body>
    <div id="menu_wrap" class="bg_white">
        <div class="option">
            <div>
                <form id="searchForm">
                    키워드 : <input type="text" value="" id="keyword" size="15"> 
                    <input type="button" id="search-cafe" value="검색하기"></input> 
                </form>
            </div>
        </div>
        <hr>
        <ul id="placesList">
        </ul>
    </div>
    <div id="map" style="width:700px; height:700px;"></div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fcbe48a94474ef23703951ea76b61e90&libraries=services"></script>
    <script  type="text/javascript"> 
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(37.540, 126.940), // 지도의 중심좌표
            level: 2 // 지도의 확대 레벨
        };
    
    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    var imageSrc = "https://image.flaticon.com/icons/png/512/168/168551.png", // 마커이미지의 주소입니다    
        imageOption = {offset: new kakao.maps.Point(8, 16)};
    
    // 카페 목록들을 json 형식으로 받아옴
    var cafeList =  {{ data | safe }};
    // markers: marker 객체를 저장하기 위한 배열
    let markers = [];
    // 지도 영역정보
    var bounds = map.getBounds();
    // 영역정보의 남서쪽 정보
    var swLatlng = bounds.getSouthWest();
    // 영역정보의 북동쪽 정보
    var neLatlng = bounds.getNorthEast();
    markData(markers, cafeList, swLatlng, neLatlng);

    // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
    var infowindow = new kakao.maps.InfoWindow({zIndex:1, removable : true}); 

    // 지도가 움직일 때 발생하는 이벤트
    // 지도가 움직일때마다 map의 정보들을 초기화
    kakao.maps.event.addListener(map, 'bounds_changed', function() {             
        // 지도 영역정보
        bounds = map.getBounds();
        // 영역정보의 남서쪽 정보
        swLatlng = bounds.getSouthWest();
        // 영역정보의 북동쪽 정보
        neLatlng = bounds.getNorthEast();

        // marker 초기화
        removeMarker();

        // 마커 데이터 추가
        markData(markers, cafeList, swLatlng, neLatlng);
        for(var i = 0; i < markers.length; i++) {
            console.log(markers[i].Fb);
        }
        console.log(markers.length);
    });

    // 카페들을 지도에 마킹하기
    function markData(markers, cafeList, sw, ne) {
        for(var i=0; i < cafeList.length; i++) {
            if(cafeList[i].fields.location_x < ne.La && cafeList[i].fields.location_x > sw.La && cafeList[i].fields.location_y < ne.Ma && cafeList[i].fields.location_y > sw.Ma) {
                addMarker(markers, cafeList[i].fields);
            }
        }
    }

    // 마커를 생성하고 지도위에 표시하는 함수
    function addMarker(markers, place) {
        // 마커 아이콘 크기 조정
        // 별점에 따라 크기 조정
        var markerIconSize = place.cafe_stars;
        switch(markerIconSize) {
            case 0:
                var imageSize = new kakao.maps.Size(16, 16); // 마커이미지의 크기입니다
                break;
            case 1:
                var imageSize = new kakao.maps.Size(20, 20); // 마커이미지의 크기입니다
                break;
            case 2:
                var imageSize = new kakao.maps.Size(24, 24); // 마커이미지의 크기입니다
                break;
            case 3:
                var imageSize = new kakao.maps.Size(28, 28); // 마커이미지의 크기입니다
                break;
            case 4:
                var imageSize = new kakao.maps.Size(32, 32); // 마커이미지의 크기입니다
                break;
            case 5:
                var imageSize = new kakao.maps.Size(36, 36); // 마커이미지의 크기입니다
                break;
            default:
                alert('파악 불가');
        }

        // 마커 생성
        var marker = new kakao.maps.Marker({
            map: map,
            title: place.name,
            position: new kakao.maps.LatLng(place.location_y, place.location_x),
            image : new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
        });

        // 마커를 배열에 추가
        markers.push(marker);

        // 마커에 클릭이벤트를 등록합니다
        kakao.maps.event.addListener(marker, 'click', function() {
            // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
            infowindow.setContent(`
                <div style="padding:5px;font-size:12px;">${place.name}</div>
                <div style="padding:5px;font-size:10px;">${place.id}</div>
                <div style="padding:5px;font-size:10px;">
                    <a href="">${place.address}</a>
                </div>
            `);
            infowindow.open(map, marker);
        });
    }

    // markers에 있는 마커를 모두 제거
    function removeMarker() {
        for ( var i = 0; i < markers.length; i++ ) {
            markers[i].setMap(null);
        }   
        markers = [];
    }

    // 검색어를 포함한 카페만 보여주는 함수
    function checkKeyword(keyword, markers, keywordMarkers) {
        for(var i=0; i < markers.length; i++) {
            if(markers[i].Fb.includes(keyword)) {
                markers[i].setVisible(true);
                keywordMarkers.push(markers[i]);
            }
            else {
                markers[i].setVisible(false);
            }
        }
    }

    //카페 키워드 검색 이벤트
    $(document).ready(function(){
        $("#search-cafe").click(function(){
            var keyword = $('#keyword').val();

            if (!keyword.replace(/^\s+|\s+$/g, '')) {
                alert('키워드를 입력해주세요!!!!!!');
                return false;
            }
            var $placesList = document.getElementById('placesList');
            $placesList.innerHTML = '';
            var keywordMarkers = [];
            checkKeyword(keyword, markers, keywordMarkers);
            for(var i = 0; i < keywordMarkers.length; i++) {
                console.log(keywordMarkers[i].Fb);
                $placesList = document.getElementById('placesList');
                $placesList.innerHTML += '<li>'+keywordMarkers[i].Fb+'</li>';
            }
        });
    });

    {% comment %} const requestKeyword = new XMLHttpRequest();

    const keywordShow = () => {
        const url = 'cafe/cafe_map/';
        const keyword = document.querySelector('#keyword').value;

        if (!keyword.replace(/^\s+|\s+$/g, '')) {
                alert('키워드를 입력해주세요!');
                return false;
        }

        var keywordMarkers = [];
        checkKeyword(keyword, markers, keywordMarkers);
        for(var i = 0; i < keywordMarkers.length; i++) {
            alert(keywordMarkers[i].getTitle());
        }

        requestKeyword.open('POST', url, true);
        requestKeyword.setRequestHeader(
            'Content-Type',
            'application/x-www-form-urlencoded'
        );

        requestKeyword.send(JSON.stringify({keywordMarkers: keywordMarkers}));
    };

    const keywordResponse = () => {
        if(requestKeyword.status < 400) {
            const {post_id, content, comment_id} = JSON.parse(requestWrite.response);
            const comments = document.querySelector(`.comments-${post_id}`)
            const element = document.querySelector(`.input-${post_id}`);
            comments.innerHTML += `
                <div class="comment-${comment_id} container my-1">
                    <div class="row">
                        <div class="col">${content}</div>
                        <div class="col">
                            <button class="btn-primary" onclick="commentDelete('${comment_id}');">삭제</button>
                        </div>
                    </div<
                </div>
            `;
        }
    };

    requestKeyword.onreadystatechange = () => {
        if(requestKeyword.readyState === XMLHttpRequest.DONE) {
            keywordResponse();
        }
    }; {% endcomment %}

    </script>
</body>
</html>