{% extends 'base.html' %}
{% load static %}

{% block title %}
    카페 검색
{% endblock %}
{% block content %}
    <h2>원하는 카페를 검색해보세요!</h2><br/>
    <a href="">지도에서 찾기</a>
    <br/>

    <!-- 카페 검색 -->
    <span>카페명 :</span>
    <input type="text" placeholder="카페 이름 검색" id="search-input">
    <!-- input 요소 안에 있는 값을 가져와 검색하기 위해 id값을 부여 -->
    <button type="button" onclick="searchPost();">search</button><br/>


    <!-- 카페 리스트  -->
    <table>
        <thead>
            <th> </th>
            <th>카페명</th>
            <th>위치</th>
            <th>별점</th>
        </thead>
        <tbody>
            {% if cafe_list %}
                {% for cafe in cafe_list %}
                    <tr>
                        <td>{{ cafe.id }}</td>
                        <td><a href="{% url 'cafe:review_list' cafe.id %}">{{ cafe.name }}</a></td>
                        <td>{{ cafe.address }}</td>
                        <td>{{ cafe.cafe_stars }}</td>
                    </tr>
                {% endfor %}
            {% endif %}            
        </tbody>
    </table>

    <!-- 페이징 처리 -->
    {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">이전</a>
        </li>
        {% endif %}

        {% for page in page_range %}
        <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}

{% comment %}
    <!-- <script type="text/javascript">
        function searchPost() {
            //************************뻘짓
            // let all_cafe = "{{ all_cafe.name }}";

            // let all_cafe = JSON.parse("{{ all_cafe_js | escapejs }}")
            // let cafe = all_cafe.name
            // if cafe

            // let cafeId = [ //왜 장고 문법 안 먹히냐 이거?
            //     {% for cafe in all_cafe %}
            //         {% if  searchValue == cafe.name %}
            //             cafeid = cafe.name.id
            //         {% endif %}
            //     {% endfor %}            
            // ]
            //************************뻘짓

            //Doit!
            // id가 search-input인 element 속의 내용을 공백 제거해서 데려온다.
            let searchValue = document.getElementById('search-input').value.trim();

            if (searchValue.length > 1){
                location.href="/review_list/" + cafeid + "/";
            }
            else {
                alert('2글자 이상 입력해주세요.');
            }
        };

        // enter 키 눌러도 검색 기능
        document.getElementById('search-input').addEventListener('keyup', function(evnet){
            if(event.key === 'Enter'){
                searchPost();
            }
        });
    </script> -->
{% endcomment %}
{% endblock %}