{% extends 'base.html' %}
{% load static %}

{% block css%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/review_list.css' %}">
{% endblock %}

{% block title %}
    방문 등록
{% endblock %}

{% block content %}
<div class="container review-content">
    <div class="px-4 py-3 my-5 cafe-info shadow-sm card" style="height:80vh;">
        <form action="{% url 'cafe:enroll_cafe' %}" method='post'>
            <div class="">
                <div class="">
                    <h5 class="" id="exampleModalLabel" name="cafeTitle">
                        <input type="text" name="cafename" value="{{ cafe.name }}">
                        <input type="text" name="cafeid" value="{{ cafe.id }}">
                    </h5>
                </div>
            
                <div class="d-flex" style="text-align: left; flex-direction: column;">
                    <p>마신 음료를 체크해주세요!</p>
                    <div>
                        <input type="radio" name="beverage" value="아메리카노">
                        <span>아메리카노</span>
                    </div>
                    <div>
                        <input type="radio" name="beverage" value="바닐라라떼">
                        <span>바닐라라떼</span>
                    </div>
                    <div>
                        <input type="radio" name="beverage" value="카페라떼">
                        <span>카페라떼</span>
                    </div>
                    <div>
                        <input type="radio" name="beverage" value="카라멜마끼야또">
                        <span>카라멜마끼야또</span>
                    </div>
                    <div>
                        <input type="radio" name="beverage" value="초코라떼">
                        <span>초코라떼</span>
                    </div>
                    <div>
                        <input type="radio" name="beverage" value="녹차라떼">
                        <span>녹차라떼</span>
                    </div>
                    <div>
                        <input type="radio" name="beverage" value="에이드">
                        <span>에이드</span>
                    </div>
                    <div>
                        <input type="radio" name="beverage" value="허브차">
                        <span>허브차</span>
                    </div>
                    <div>
                        <input type="text" name="etc" value="">
                    </div>
                </div>
                
                <div>
                    <button type="submit" id="submit_btn_{{cafe.id}}" class="btn btn-primary">등록하기</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}