/* .color {
    #F0A986
    #B3A29A
    #A3735B
    #F0D9CE
    #704F3F
    #573728
} */

#badge_list_page {
    background-color: #F0D9CE;
    padding: 50px 0px;
}

.page_title {
    font-size: 80px;
    font-family: Cafe24Danjunghae;
    text-shadow: 2px 2px 2px #B3A29A;
    color: #704F3F;
}

.page_info {
    font-size: 10px;
    font-family: RIDIBatang;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1300px; 
    transform-style: preserve-3d;
}

article {
    display: flex;
    justify-content: space-around;
}

.taken_badges {
    position: relative;
    width: 280px;
    height: 390px;
    display: inline-block;
    z-index: 0;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
    animation-delay: 2s;
}

@keyframes up-down {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

.taken_imgbox:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    background: transparent;
    border: 7px solid transparent;
}

.taken_imgbox:before {
    animation: making_border 1s linear forwards;
}

@keyframes making_border {
    0% {
        width: 0;
        height: 0;
        border-top-color: #5ba39e;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        width: 100%;
        height: 0;
        border-top-color: #5ba39e;
        border-right-color: #5ba39e;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: #5ba39e;
        border-right-color: #5ba39e;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.taken_imgbox:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    background: transparen;
    border: 7px solid transparent;
}

.taken_imgbox:after {
    animation: making_border2 1s linear forwards;
}

@keyframes making_border2 {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #5ba39e;
    }
    50% {
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #5ba39e;
        border-left-color: #5ba39e;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #5ba39e;
        border-left-color: #5ba39e;
    }
}


.taken_img {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 55%;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid #f0a986;
}

.untaken_img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 55%;
    object-fit: cover;
    border-radius: 50%;
}

article .box {
    position: relative;
    width: 260px;
    height: 370px;
    margin: 20px 0;
    border-radius: 10px;
    perspective: 1000px;
    overflow: hidden;
    transform-style: preserve-3d;
    z-index: 1;
}

article .box .imgbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    transform-origin: top;
    transform-style: preserve-3d;
    transition: 0.5s;
    transition-delay: 0.2s;
}

article .box:hover .imgbox {
    transform: rotateX(-90deg);
    opacity: 0;
    transition-delay: 0s;
}

article .box:hover {
    box-shadow: none;
}

article .box .imgbox img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 50%;
}

.imgbox h2 {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);

    font-family: Cafe24Danjunghae;
    color: #634638;
    text-shadow: 2px 2px 2px #b3a29a;
}

.container .box .contentbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #704F3F;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

    transform-origin: bottom;
    transform-style: preserve-3d;
    transition: 0.5s;
    transform: rotateX(90deg);
    opacity: 0;

    font-family: RIDIBatang;
    color: #F0D9CE;
}

.badge_name {
    font-family: Cafe24Danjunghae;
    color: #F0D9CE;
    text-shadow: 2px 2px 2px #B3A29A;
    padding-bottom: 30px;
}

.badge_ctx {
    font-size: 18px;
}

.container .box:hover .contentbox {
    transform: rotateX(0deg);
    opacity: 1;
    transition-delay: 0.2s;
}
