@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF_IceLemon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceLemon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HSGyoulnoonkot';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSGyoulnoonkot.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Wemakeprice-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'twaysky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

div {
    font-family: Pretendard-Regular;
}

span {
    font-family: Pretendard-Regular;
}

nav {
    height: 6.7vh;
}

.navbar-collapse .nav-item {
    max-width: 130px;
    background-color: #725a4e;
}

@media (max-width: 575px) {
    #header-logo-image {
        display: inline-block;
        width: 90px;
        height: 30px;
        /*background: url(../../media/static/image/logo.png) no-repeat;
        background-size: 120px;*/
        font-family: HSGyoulnoonkot;
        color:#fff;
        text-shadow: 2px 1px 1.5px beige; 
        font-weight: 300;
        
        font-size: 20px;
        vertical-align: middle;
    }
}

@media (min-width: 576px) {
    #header-logo-image {
        display: inline-block;
        width: 120px;
        height: 40px;
        /*background: url(../../media/static/image/logo.png) no-repeat;
        background-size: 120px;*/
        font-family: HSGyoulnoonkot;
        color:#fff;
        text-shadow: 3px 1px 2px beige; 
        font-weight: 400;
        
        font-size: 30px;
        vertical-align: middle;
    }
}

.blind-logo {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.bg-lightgray {
    background-color: #725a4e;
}

@media (max-width: 575px) {
    .hello_text {
        font-size: 0.6rem;
        font-family: Pretendard-Regular;
        color: #f0d9ce;
    }
    
    .nev_text {
        font-size: 0.6rem;
        font-family: Wemakeprice-Bold;
        padding-left: 0.5rem;
        color: #f0d9ce;
    }
    
    .base-nickname {
        margin: 0 5px;
    }
    
    .nickname-font {
        font-size: 0.6rem;
        font-weight: bold;
        color: #B3A29A;
    }
}

@media (min-width: 576px) {
    .hello_text {
        font-size: 1rem;
        font-family: Pretendard-Regular;
        color: #f0d9ce;
    }
    
    .nev_text {
        font-size: 1rem;
        font-family: Wemakeprice-Bold;
        padding-left: 1rem;
        color: #f0d9ce;
    }
    
    .base-nickname {
        margin: 0 10px;
    }
    
    .nickname-font {
        font-size: 1rem;
        font-weight: bold;
        color: #B3A29A;
    }
}

a {
    text-decoration: none;
    /* color: #1a1715; */
    color: black;
    font-weight: bold;
}

a:hover {
    color: #B3A29A;
}

ul {
    list-style: none;
}

.nav-item-hover:hover {
    color: #f0a986;
}

/*notification!*/
.notification-badge {
	transition: 0.3s;
}

.notification-badge:hover {
	cursor: pointer;
	opacity: 0.75;
	transition: 0.3s;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	position: absolute;
	background-color: #f1f1f1;
	min-width: 350px;
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
	z-index: 1;
	font-size: 0.9rem;
}

.dropdown-content a {
	color: #000;
	padding: 12px 16px;
	text-decoration: none;
    width: 285px;
}

.dropdown-content a:hover {
	/* background-color: #ddd; */
    color : #704F3F;
}

.dropdown-item-parent {
	position: relative;
	display: block;
}

.dropdown-item-close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.8rem;
	padding-right: 5px;
	transition: 0.3s
}

.dropdown-item-close:hover {
	color: rgb(180, 25, 25);
	transition: 0.3s;
	cursor: pointer;
}

.pagination {
    align-items: center;
    justify-content: center;
    display: flex;
}

.page-link {
    color: #704F3F;
}

.page-link:hover {
    background-color:#b99d8f;
    color: #704F3F;
}

.pagination .activate .page-link{
    background-color: #b99d8f;
}

.table-title {
    width: 100%;
    font-family: NEXON Lv2 Gothic Bold;
    font-weight: bold;
    font-size: 1.2em;
    color: #573728;
    position: relative;
    text-align: center;
    padding: 3px 2px 0px;
}

.table-content {
    font-size: 1em;
    font-family: Pretendard-Regular;
    color: #573728;
    text-align: center;
}

.page-obj {
    line-height: 38px;
    vertical-align: middle;
    font-family:NEXON Lv1 Gothic OTF;
    font-weight: bold;
    color:gray;
}