body {
    background-color: #F0D9CE;
    height: 100vh;
}

.rating_wrap_parents {
    position: relative;
    left: 30%;
    width: 130px;
}

/* 별 5개를 묶어서 absolute해야 겹쳐짐 */
.rating_wrap { 
    position: absolute;
}

.rating .star_wrap {
    width: 20px;
    display: inline-block;
}

.not_rating .star_wrap {
    width: 20px;
    display: inline-block;
}

.rating .star {
    width: 0;
    overflow: hidden;
}

.full_star { /* 별 */
    font-size: 19px;
    color: rgb(255, 238, 0);
} 

.full_star:hover {
    transform: rotate(15deg) scale(1);
}

.empty_star { /* 별 */
    font-size: 19px;
    color: gray;
}

.empty_star:hover {
    transform: rotate(15deg) scale(1);
}


/* .color {
    #F0A986
    #B3A29A
    #A3735B
    #F0D9CE
    #704F3F
    #573728
} */


#search_page {
    background-color: #F0D9CE;
    padding: 0px 0px;
}

.page_title {
    font-size: 60px;
    font-family: Cafe24Danjunghae;
    text-shadow: 2px 2px 2px #B3A29A;
    color: #704F3F;
}

.page_info {
    font-size: 1.1em;
    font-family: Pretendard-Regular;
}

.button {
    border: 1px solid #704F3F;
    background-color: white;
    border-radius: 10px;
    padding: 2px 5px 2px;
    font-size: 1em;
    font-family: Pretendard-Regular;
    font-weight: bold;
    color: #704F3F;
}

.button:hover {
    background-color: #704F3F;
    color: white;
}

td {
    text-align: center;
}

.table-title {
    font-size: 1.35em;
    font-weight: 800;
    font-family: NEXON Lv2 Gothic Bold;
}

.table-content {
    font-size: 1.05em;
    font-family: NEXON Lv1 Gothic OTF;
}

.activate {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

select, input[type=text]{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #573728;
    color: black;
    width: 110px;
    height: 30px;
    padding-left: 10px;
}

.drink-list div {
    display: -webkit-inline-box;
    padding-left: 20%;
}

.drink-list div span {
    padding-left: 10px;
    padding-right: 10px;
}

@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.modalcontent {
    font-family: SDSamliphopangche_Outline;
}

@import url('https://fonts.googleapis.com/css2?family=Playball&family=Roboto:ital,wght@1,100&display=swap');


/* 체크박스 */
.check-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.check_wrap {
    display: flex;
}

.check {
    position: absolute;
    width: 20px;
}

.checkbox, .check_icon {
    position: absolute;
    left: 0px;
    top: 5px; 
}

.check > input {
    display: none;
}

.check_icon {
    background-color: #F0D9CE;
    width: 15px;
    height: 15px;
    border-radius: 2px;
}

.check_icon::before, .check_icon::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 0;
    background-color: #B3A29A;
    position: absolute;
    transform-origin: left top;
    border-radius: 1px;
}

.check_icon::before {
    top: 7px;
    left: 1px;
    transform: rotate(-45deg);
}

.check_icon::after {
    top: 12.5px;
    left: 7.5px;
    transform: rotate(-135deg);
}

.check input:checked ~ .check_icon::before {
    height: 7px;
    transition: all .3s ease;
}

.check input:checked ~ .check_icon::after { 
    height: 15px;
    transition: all .35s ease .3s;
}
/* ~: 동일 선상의 요소, 부모자식 아니고 동일 선상에 있는 태그들 */


.check_label {
    font-size: 17px;
    font-weight: lighter;
    font-family: Wemakeprice-Bold;
    color: #704F3F;
    text-align: left;
    padding-left: 30px;
}

.button2 {
    font-family: SDSamliphopangche_Outline;
    color: black;
    border: 2px solid #573728;
    border-radius: 10px;
    font-size: 20px;
    color: #573728;
    text-align: center;
}

.button2:hover {
    background-color: #704F3F;
    color: white;
}