body {
    background-color: #F0D9CE;
    height: 100vh;
}

.rating_wrap_parents {
    position: relative;
    left: 30%;
    width: 130px;
}

/* 별 5개를 묶어서 absolute해야 겹쳐짐 */
.rating_wrap { 
    position: absolute;
}

.rating .star_wrap {
    width: 20px;
    display: inline-block;
}

.not_rating .star_wrap {
    width: 20px;
    display: inline-block;
}

.rating .star {
    width: 0;
    overflow: hidden;
}

.full_star { /* 별 */
    font-size: 19px;
    color: rgb(255, 238, 0);
} 

.full_star:hover {
    transform: rotate(15deg) scale(1);
}

.empty_star { /* 별 */
    font-size: 19px;
    color: gray;
}

.empty_star:hover {
    transform: rotate(15deg) scale(1);
}


/* .color {
    #F0A986
    #B3A29A
    #A3735B
    #F0D9CE
    #704F3F
    #573728
} */


#search_page {
    background-color: #F0D9CE;
    padding: 0px 0px;
}

.page_title {
    font-size: 60px;
    font-family: Cafe24Danjunghae;
    text-shadow: 2px 2px 2px #B3A29A;
    color: #704F3F;
}

.page_info {
    font-size: 1.1em;
    font-family: Pretendard-Regular;
}

.button {
    border: 1px solid #704F3F;
    background-color: white;
    border-radius: 10px;
    padding: 2px 5px 2px;
    font-size: 1em;
    font-family: Pretendard-Regular;
    font-weight: bold;
    color: #704F3F;
}

.button:hover {
    background-color: #704F3F;
    color: white;
}

td {
    text-align: center;
}

.table-title {
    font-size: 1.35em;
    font-weight: 800;
    font-family: NEXON Lv2 Gothic Bold;
}

.table-content {
    font-size: 1.05em;
    font-family: NEXON Lv1 Gothic OTF;
}

.activate {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

select, input[type=text]{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #573728;
    color: black;
    width: 110px;
    height: 30px;
    padding-left: 10px;
}

.drink-list div {
    display: -webkit-inline-box;
    padding-left: 20%;
}

.drink-list div span {
    padding-left: 10px;
    padding-right: 10px;
}