@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    background-color: #F0D9CE;
}

/* 버튼 */
.button {
    border: 2px solid #704F3F;
    background-color: white;
    border-radius: 10px;
    padding: 6px 7px 2px;
    font-size: 1.2em;
    font-family: twaysky;
    color: #704F3F;
}

.button:hover {
    background-color: #704F3F;
    color: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* page 기본내용 */
#login_page {
    background-color: #F0D9CE;
    padding: 50px 10%;
}

.page_title {
    font-size: 80px;
    font-family: Cafe24SsurroundAir;
    text-shadow: 2px 2px 2px #B3A29A;
    color: #704F3F;
}

.page_info {
    font-size: 10px;
    font-family: Wemakeprice-Bold;
}

.wave{
    position: absolute;
    height: 89%;
    left: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.9;
}

.container {
    width: 100%; 
    border-radius: 1%;
    /* width: 100vw; */
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 0 2rem;
    box-shadow: 2px 2px 10px gray;
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img img {
    width: 90%;
    margin-top: 20px;
    transform:rotate(0deg);
    -moz-transform: scaleX(-1); 
    -o-transform: scaleX(-1); 
    -webkit-transform: scaleX(-1); 
    transform: scaleX(-1);   
    filter: FlipH;
    -ms-filter: "FlipH";
    z-index: 2;
}

.img{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
    z-index: 3;
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

form {
    width: 380px;
}

.avatar {
    width: 165px;
}

.login-container {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
}

.input-div {
    position: relative;
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #B3A29A;
}

.login_table {
    width:100%;
}

/* 입력칸 focus 효과 */
.input-div:before, .input-div:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #F0A986;
    transition: .3s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus .i .icon{
    color: #F0A986;
}

.input-div.focus .table > .label {
    top: -7px;
    font-size: 15px;
    color: #F0A986;
}

.input-div.focus:before, .input-div.focus:after {
    width: 50%;
}

.input-div .one {
    margin-top: 0;
}

.input-div .two{
    margin-bottom: 4px;
}

.i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: #B3A29A;
    transition: .3s;
}

.table {
    position: relative;
    height: 45px;
    margin: 0;
}

.label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    transition: .3s;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Wemakeprice-Bold;
    color: #B3A29A;
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
}


/* 아이디 저장 체크박스 */
.save_wrap {
    position: relative;
    width: 35%;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 10% 90%;
}

.save_label {
    position: absolute;
    left: 15%;
    font-size: 15px;
    font-weight: lighter;
    font-family: Wemakeprice-Bold;
    color: #B3A29A;
}

.check {
    position: absolute;
    top: -1px;
    left: -3px
}

.check input {
    display: none;
}

.check_icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color:#F0D9CE;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

.check .check_icon::before, .check .check_icon::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 0;
    background-color: #B3A29A;
    position: absolute;
    transform-origin: left top;
    border-radius: 1px;
}

.check .check_icon::before {
    top: 7px;
    left: 1px;
    transform: rotate(-45deg);
}

.check_icon::after {
    top: 12.5px;
    left: 7.5px;
    transform: rotate(-135deg);
}

.check input:checked ~ .check_icon::before {
    height: 7px;
    transition: all .3s ease;
}

.check input:checked ~ .check_icon::after {
    height: 15px;
    transition: all .35s ease .3s;
}


/* 로그인 하단부(비번찾기, 소셜로그인 등..) */
.findPw {
    display: block;
    text-align: right;
    text-decoration: none;
    font-size: 0.9rem;
    transition: .3s;
    font-family: Cafe24SsurroundAir;
    color: #704F3F;
    font-weight: lighter;
    cursor: pointer;
}

.findPw:hover {
    color: #F0A986;
}

.social_group {
    display: flex;
    flex-direction: row;
}

.each_social {
    display: flex;
    align-items: center;
    width: 33%;
}

.social_logo {
    width: 28%;
}

.social-btn {
    font-size: 10px;
    font-weight: lighter;
    font-family: Cafe24SsurroundAir;
}
.social-btn:hover {
    color: white;
}

.google_img {
    background-color: #fff;
}

.google {
    color : #DC4B29;
    border-color: #DC4B29;
}

.google:hover {
    color: #fff;
    background-color: #DC4B29;
}

.naver_img {
    width: 100%;
}

.naver {
    color: #00B818; 
    border-color: #00B818;
}

.naver:hover {
    color: #fff;
    background-color: #00B818;
}

.kakao {
    color: #FBE300; 
    border-color: #FBE300;
}

.kakao:hover {
    color: black;
    background-color: #FBE300;
}
/* 반응형 */
@media screen and (max-width: 1100px){
	.container{
		grid-gap: 1rem;
	}
    
    .wave {
        width: 200px;
    }
}

@media screen and (max-width: 1050px){
	form{
		width: 300px;
	}

	.img img{
		width: 410px;
	}

    .wave {
        width: 150px;
    }
}

@media screen and (max-width: 1000px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{ display: none;}
	.wave{display: none;}

    .avatar {
        width: 150px;
    }

	.login-content{
		justify-content: center;
	}

    .social_group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .each_social {
        width: 50%;
    }

    .social-btn {
        font-size: 7px;
        width: 100%;
    }
} 

@media screen and (max-width: 400px){
	#login_page { padding: 50px 5%; }
    .container{
        width: 90%;
        padding: 5px 0px;
        display: flex;
	}

	.img{ display: none;}
	.wave{display: none;}

    .login-container {width: 100%;}

    .avatar {width: 120px;}
    .form{width: 88%;}
    .login_table {width:100%;}
	.login-content{justify-content: center;}

    .social_group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .each_social {
        width: 50%;
    }

    .social-btn {
        font-size: 7px;
        width: 100%;
    }
} 