@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HSGyoulnoonkot';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSGyoulnoonkot.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JoongnajocheM-KSCpc-EUC-H';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/JoongnajocheM-KSCpc-EUC-H.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JoongnajocheL-KSCpc-EUC-H';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/JoongnajocheL-KSCpc-EUC-H.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Wemakeprice-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 버튼 */
.button {
  margin-top: 10px;
  border: 2px solid #704F3F;
  background-color: white;
  border-radius: 10px;
  padding: 6px 7px 2px;
  font-size: 1.1em;
  font-family: twaysky;
  color: #704F3F;
}

.button:hover {
  background-color: #704F3F;
  color: white;
}

a {
    width: 226px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.container4 {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center }

div.container4 p {
    margin: 0 
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center
}
.layer .content {
  display: inline-block;
  background: #f00;
  vertical-align: middle;
}
.layer:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.bg-darkblue {
    background-color: #386ABB;
}

.ptb-12 {
    padding-top: 19rem;
    padding-bottom: 19rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class  4rem;*/
.carousel {
    margin-bottom: 0;
  }
  /* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

  /* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
.marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
.featurette-heading {
      font-size: 50px;
    }
  }
  
@media (min-width: 62em) {
.featurette-heading {
      margin-top: 7rem;
    }
  }

/* -----------------------main 1st--------------------- */
.hoverbox {
  width: 100vw;
  height: 100vh;
  background: url(../../static/image/ex4.jpeg);
}

.hoverbox [class*='hud']{
  position : absolute;
  top: 50%; left: 50%;
  transform:translate(-50%, -50%);
  transition: all 2.5s;
}

.hoverbox .hud01 {
  position: relative;
  width: 50rem; 
  height: 50rem;
}

.m1_mugplate{
  position: absolute;
  left: 48%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 36rem;
  height: 36rem;
  border-radius: 50%; 
  z-index: 1;
  background-image: url(../../static/image/main_plate.jpg);
  background-size: cover;
}

.m1_mug { 
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 37rem;
  height: 37rem;
  background-color: transparent;
  z-index: 2;
  animation:show-img 1s ease;
  /* animation-delay: .2s; */
}

@keyframes show-img {
  0% {display: none;}
  10% {width: 4rem; height: 4rem;}
  20% {width: 8rem; height: 8rem;}
  30% {width: 12rem; height: 12rem;}
  40% {width: 16rem; height: 16rem;}
  50% {width: 20rem; height: 20rem;}
  60% {width: 24rem; height: 24rem;}
  70% {width: 28rem; height: 28rem;}
  80% {width: 31rem;height: 31rem; }
  90% {width: 34rem;height: 34rem; }
  100% {width: 37rem; height: 37rem;}
}

.m1_mug img {
  max-width: none;
  width: 100%;
  animation:rolling 6s linear infinite; 
  animation-delay: 2s;
  transform-origin: 50% 50%;
}

@keyframes rolling { 
  100% {transform:rotate(360deg);}
}

.m1_group {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 35%;
  top: 30%;
  width: 30%;
  margin-top: 1.8rem;
}

.m1_logo { 
  margin-top: 1.5rem;
  font-size: 135px; 
  border: 2px black; 
  font-family: 'HSGyoulnoonkot';
  text-shadow: -5px 0 brown, 0 5px brown, 5px 0 beige, 0 -5px beige;
  animation: show-logo 2s ease;

  transition: transform 2.5s,background-color .5s,color .5s;
  transform: translateY(50px);
  -webkit-transition: -webkit-transform 2.5s,background-color .5s,color .5s;
  -webkit-transform: translateY(50px);
}

.action .m1_logo {
transform: translateY(0);
-webkit-transform: translateY(0);
}

@keyframes show-logo {
  0% {opacity: 0;}
  20% {opacity: 0;}
  40% {opacity: 0.2;}
  50% {opacity: 0.4;}
  60% {opacity: 0.5;}
  70% {opacity: 0.7;}
  80% {opacity: 0.8;}
  90% {opacity: 0.9;}
  100% {opacity: 1;}
}

@keyframes show-ctx {
  0% {opacity: 0;}
  20% {opacity: 0;}
  40% {opacity: 0;}
  50% {opacity: 0;}
  60% {opacity: 0.2;}
  70% {opacity: 0.4;}
  80% {opacity: 0.6;}
  90% {opacity: 0.8;}
  100% {opacity: 1;}
}

.m1_info {
  position: absolute;
  margin-top: 1rem;
  font-size: 1.5em;
  font-family: Wemakeprice-Bold;
  font-weight: bolder;
  color: #F0D9CE; 
  text-shadow: 1px 1px 1px #573728;
  animation: show-ctx 2s ease;
}

.startbtn {
  border: 2px solid #704F3F;
  background-color: white;
  border-radius: 10px;
  padding: 6px 7px 2px;
  font-size: 1.5em;
  font-family: Wemakeprice-Bold;
  color: #704F3F;
  font-weight: bolder;
  animation: show-ctx 2s ease;
}

.startbtn:hover {
  background-color: #704F3F;
  color: white;
}


/* -----------------------main 2nd--------------------- */
@font-face {
  font-family: 'EliceDigitalBaeum_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.m2-even-back {
  background-image:url(../../../static/image/coffee-main-1.jpeg); 
  position: absolute; 
  width:100%; 
  height: 100%; 
  background-position: 40%; 
}

[class*='even-back'] {
  opacity: 0.9;
  filter: blur(5px);
  transform: scale(1.1);
}

[class*='num'] {
  font-weight: bolder;
  font-family: Cafe24Danjunghae;
  font-size: 2rem;
  color: #5ba39e;
  text-shadow: 1px 1px 1px #1f5753;
}

[class*='odd-title'] {
  position:absolute; 
  left:0px; 
  bottom:7px; 
  font-size: 2rem; 
  text-indent:0; 
  margin-top: 1rem;
  font-family: EliceDigitalBaeum_Bold;
  color: #e0c4b8;
  text-shadow: 2px 2px 2px #704F3F;
}

[class*='even-title'] {
  position:absolute; 
  left:0px; 
  bottom:7px; 
  font-size: 2rem; 
  text-indent:0; 
  margin-top: 1rem;
  font-family: EliceDigitalBaeum_Bold;
  color: #5a4236;
  text-shadow: 2px 2px 2px #d58e6f;
}

[class*='ctx'] {
  width: 40vw;
}

@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.desc {
  font-family: Cafe24SsurroundAir;
}

/* -----------------------main 3rd--------------------- */
.mainbtn {
  width: 112px;
  height: 42px;
  display: inline-block;
  overflow: hidden;
  border: 2px solid #573728;
  background-color: #fff;
  border-radius: 10px;
  
  font-size: 17px;
  letter-spacing: -.5px;
  line-height: 40px;
  color: #573728;
  text-align: center;

  transition: transform 3s,background-color .5s,color .5s;
  transform: translateY(70px);
  -webkit-transition: -webkit-transform 3s,background-color .5s,color .5s;
  -webkit-transform: translateY(70px);
}

.action .desc .mainbtn {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.mainbtn:hover {
  background-color: #704F3F;
  color: white;
}

.pagetitle {
  font-family: JoongnajocheM-KSCpc-EUC-H;
  position:absolute; 
  left:0px; 
  bottom:7px; 
  font-size:36px; 
  text-indent:0;
}

.pagecontent {
  font-family: JoongnajocheL-KSCpc-EUC-H;
  font-size: 19px;
  color: #333;
}

/* .color {
  #F0A986
  #d58e6f
  #a56768
  #743957 
  #d38842
  #d5b054
  #ececee
  #dcd3cc
  #F0D9CE
  #B3A29A
  #998884
  #bb937e
  #A3735B /페이지 배경색
  #915549
  #704F3F /페이지 글자색
  #573728
  #362f37
  #1f5753
  #5ba39e
  #6e7a67
} */

.main-image {
  background-color: #F0D9CE;
  background-repeat: no-repeat; 
  background-size: 500px;
  background-position: top;
  border-radius: 50%;
  border: 1px solid gray;
  position: relative;
  width: 400px;
  height: 400px;
  left: 55%;
  top: 30%;
}

.m3-wrap, .m4-wrap, .m5-wrap, .m6-wrap {
  position: relative;
}

[id*='img-wrap'] {
  position: absolute;
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
}

#m3-img-wrap, #m5-img-wrap {
  left: 21%;
  top: 16%;
}

#m4-img-wrap, #m6-img-wrap {
  left: 52%;
  top: 27%;
  z-index: 1;
}

[class*='mainimg'] {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 1px 1px 3px gray;
  transition: transform 3s,background-color .5s,color .5s;
  transform: translateY(70px);
  -webkit-transition: -webkit-transform 3s,background-color .5s,color .5s;
  -webkit-transform: translateY(70px);
  background-position: center;
  background-size: cover;
}

.action [class*='mainimg'] {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

/* 아이콘+부가적인 ani */
[class*='m3-icon-stop'] {
  position: absolute;
  width: 9%;
  height: 9%;  
  z-index: 10;
}

[class*='m3-icon-move'] {
  position: absolute;
  width: 7%;
  height: 7%;  
  z-index: 2;
}

.m3-circle {
  position: absolute;
  width: 95%;
  height: 95%;    
  left: -35%;
  top: 30%;
  z-index: -1;
  border-radius: 50%;
  border: 2px dashed #e7bba9;
  animation:rolling 26s linear infinite; 
}

.m3-rollani-icon03 {
  animation:rolling 6s linear infinite; 
}
.m3-rollani-icon04 {
  animation:rolling 4s linear infinite; 
}
.m3-rollani-icon05 {
  animation:rolling 5s linear infinite; 
  animation-direction: reverse;
}

[class*='m3-showani'] {
  transition: transform 3s,background-color .5s,color .5s;
  transform: translateY(50px);
  -webkit-transition: -webkit-transform 3s,background-color .5s,color .5s;
  -webkit-transform: translateY(50px);
}

.action [class*='m3-showani'] {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.action [class*='m3-icon-stop'] {
  animation: jump 1.3s ease infinite;
  animation-delay: 2s;
}

.m3-icon-stop01:hover {
  animation: jump 1s ease;
}

@keyframes jump {
  0% {transform: translateY(0px);}
  10% {transform: translateY(0px);}
  20% {transform: translateY(-3px);}
  40% {transform: translateY(1px);}
  60% {transform: translateY(-2px);}
  60% {transform: translateY(1px);}
  90% {transform: translateY(0px);}
  100% {transform: translateY(0px);}
}


.m4-circle {
  position: absolute;
  width: 95%;
  height: 95%;    
  left: 34%;
  top: -21%;
  z-index: -1;
  border-radius: 50%;
  border: 2.5px dashed rgb(207, 207, 207);
  animation:rolling 26s linear infinite; 
}

/* ----------------------main 5th-------------------- */

[class*='m5-icon-move'] {
  position: absolute;
  width: 8%;
  height: 8%;  
  z-index: 2;
}

.m5-circle {
  position: absolute;
  width: 95%;
  height: 95%;    
  left: -35%;
  top: 30%;
  z-index: -1;
  border-radius: 50%;
  border: 2px dashed #5ba39e;
  animation:rolling 26s linear infinite; 
}

.m5-rollani-icon01 {
  animation:rolling 4s linear infinite; 
}
.m5-rollani-icon02 {
  animation:rolling 5s linear infinite; 
  animation-direction: reverse;
}
.m5-rollani-icon03 {
  animation:rolling 6s linear infinite; 
}


/* ----------------------main 6th-------------------- */
.m6-circle {
  position: absolute;
  width: 95%;
  height: 95%;    
  left: 34%;
  top: -21%;
  z-index: -1;
  border-radius: 50%;
  border: 2px dashed white;
  animation:rolling 26s linear infinite; 
}


/* ----------------------footer-------------------- */
.footer-item {
  font-family: Wemakeprice-Bold;
  font-size: 1.4rem;
}

.left {
  left: 15%;
}

.cst-title {
  position: relative;
}

/* 휴대폰 사이즈 반응형 구현 */
@media screen and (max-width: 400px) {
  .m1_logo {
    font-size: 78px;
    margin-top: 4.5rem;
    /* font-size: 135px;  */
    border: 2px black; 
    font-family: 'HSGyoulnoonkot';
    text-shadow: -5px 0 brown, 0 5px brown, 5px 0 beige, 0 -5px beige;
    animation: show-logo 2s ease;
  
    transition: transform 2.5s,background-color .5s,color .5s;
    transform: translateY(50px);
    -webkit-transition: -webkit-transform 2.5s,background-color .5s,color .5s;
    -webkit-transform: translateY(50px);
  }
  .m1_info {
    font-size: 1.3em;
    width: 248px;
    margin-top: 3rem;
  }
  .m1_mugplate{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 23rem;
    height: 23rem;
    border-radius: 50%; 
    z-index: 1;
    background-image: url(../../static/image/main_plate.jpg);
    background-size: cover;
  }
  .m1_mug { 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 29rem;
    height: 29rem;
    background-color: transparent;
    z-index: 2;
    animation:show-img 1s ease;
    /* animation-delay: .2s; */
  }

  [class*='odd-title'] {
    position:absolute; 
    left:8%; 
    bottom:-51%;
    max-width: 251px; 
    font-size: 2rem; 
    text-indent:0; 
    margin-top: 1rem;
    font-family: EliceDigitalBaeum_Bold;
    color: #e0c4b8;
    text-shadow: 2px 2px 2px #704F3F;
  }

  [class*='ctx'] {
    width: 40vw;
    position:absolute;
    left: 11%;
    bottom: -150%;
    width: 288px;
  }
  .mainbtn {
    width: 112px;
    position: absolute;
    left: 30%;
    bottom: -171%;
    height: 42px;
    display: inline-block;
    overflow: hidden;
    border: 2px solid #573728;
    background-color: #fff;
    border-radius: 10px;
    
    font-size: 17px;
    letter-spacing: -.5px;
    line-height: 40px;
    color: #573728;
    text-align: center;
  
    transition: transform 3s,background-color .5s,color .5s;
    transform: translateY(70px);
    -webkit-transition: -webkit-transform 3s,background-color .5s,color .5s;
    -webkit-transform: translateY(70px);
  }
  .btn-2 {
    bottom: -193%;
    left: 30%;
  }
  em {
    position: absolute;
    left: 13%;
    bottom: -44%;
  }

  [class*='even-title'] {
    position:absolute; 
    left:8%; 
    bottom:-187%; 
    font-size: 2rem; 
    width: 344px;
    text-indent:0; 
    margin-top: 1rem;
    font-family: EliceDigitalBaeum_Bold;
    color: #5a4236;
    text-shadow: 2px 2px 2px #d58e6f;
  }

  .left {
    position: relative !important;
  }

  .cst-title {
    position: absolute;
    bottom: -80%;
    left: 3%;
  }

}