.friends {
    font-size: 20px;
    font-weight: bold;
    font-family: NEXON Lv1 Gothic OTF;
}

.my_page {
    background-color: #F0D9CE;
}

.page_title {
    font-size: 80px;
    font-family: Cafe24Danjunghae;
    text-shadow: 2px 2px 2px #B3A29A;
    color: #704F3F;
}

.bg-deepbrown {
    background-color: #a3735b;
}

.bottom-item {
    border: 2px solid #b19d92;
    border-radius: 10px;
    padding: 30px 0;
    margin: 0 20px;
}

.card {
    background-color: #f5eae6;
    max-height: 500px;
    overflow-y: auto;
}