{% extends 'base.html' %}
{% load static %}

{% block css %}
<meta property="og:type" content="website">

<link rel="stylesheet" type="text/css" href="//t1.daumcdn.net/mapapisdoc/cssjs/1619092942440/css/web.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<script type="text/javascript" src="https://spi.maps.daum.net/imap/map_js_init/v3.js"></script>
<script type="text/javascript" src="//s1.daumcdn.net/svc/original/U03/cssjs/jquery/jquery-1.11.0.js"></script>
<script type="text/javascript" src="//s1.daumcdn.net/svc/original/U0301/cssjs/JSON-js/fc535e9cc8/json2.min.js"></script>
{% endblock %}

{% block content %}

<body class="web top" data-page_section="web" data-page_type="top">

    <!--우측 점박이로 페이지 이동 가능-->
    <ul id="pagination">
        <li><a href="#" style="background-color: #573728;"></a></li>
        <li><a href="#" style="background-color: #573728;"></a></li>
        <li><a href="#" style="background-color: #573728;"></a></li>
        <li><a href="#" style="background-color: #573728;"></a></li>
        <li><a href="#" style="background-color: #573728;"></a></li>
        <li><a href="#" style="background-color: #573728;"></a></li>
    </ul>

    <div id="daumBody" style="height:93.3vh; margin-left: 0px; background-color: white;">
        <div id="daumContent">
            <div class="page first_page" id="intro">
                <div class="wrap" style="position: relative;">
                    <!-- 가운데 점선 원 -->

                    <!---------------- main 1st ------------------>
                    <div class="hoverbox">
                        <div class="hud01">
                            <div class="m1_mugplate">
                                <div class="m1_mug">
                                    <img src="../../../static/image/main_rollcoffee.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m1_group" style="background-color: transparent; color: white;">
                        <div class="m1_info">지도기반 카페 이용기록 웹서비스</div>
                        <span class="m1_logo">CAFEGO</span>

                        {% if not user.is_authenticated %}
                            <button class="startbtn" onclick="location.href='/account/login'">Let's Go!</button>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!---------------- main 2nd ------------------>
            <div class="page" id="feature1">
                <div class="wrap" id="start_page">
                    <div class="m2-even-back">
                    </div>
                    <div class="desc left" style="left: 15%;">
                        <em><span class="m2-num">01</span></em>
                        <div class="title" style="background-image:none!important;">
                            <span class="m2-odd-title">방문했던 카페를 <br>나의 카페 목록에 기록해보세요.</span>
                        </div>
                        <p class="m2-ctx" style="color:white; text-shadow: 2px 2px 1px black;">서울 시내 37,000여개의 카페 중 본인이 방문한 카페를 기록할 수 있습니다.<br> 카페 리스트의 검색기능과 지도의 위치기반 서비스를 이용해 카페를 추가해 보세요!<br> 카페에서 마신 음료도 함께 기록해보세요!</p>
                        {% if user.is_authenticated %}
                        <a class="mainbtn" href="{% url 'cafe:cafe_list' %}" style="width: 160px; margin-right: 10px;" ><span>검색하여 카페추가</span></a>
                        <a class="mainbtn" href="{% url 'cafe:cafe_map' %}" style="width: 160px;"><span>지도에서 카페추가</span></a>
                        {% else %}
                        <a class="mainbtn" href="/account/login" onclick="return confirm('로그인이 필요한 페이지입니다. 지금 바로 로그인 하시겠습니까?');" style="width: 160px; margin-right: 10px;" ><span>검색하여 카페추가</span></a>
                        <a class="mainbtn" href="/account/login" onclick="return confirm('로그인이 필요한 페이지입니다. 지금 바로 로그인 하시겠습니까?');" style="width: 160px;"><span>지도에서 카페추가</span></a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!---------------- main 3rd ------------------>
            <div class="page" id="feature2">
                <div class="wrap m3-wrap">
                    <div id="m3-img-wrap">
                        <div class="m3-mainimg" style="background-image:url(../../../static/image/user_cafe_map.PNG);"></div>
                        <div class="m3-circle"></div>
                        <div class="m3-icon-stop01" style="left: 70%; top: 66%;"><img class="m3-showani-icon01" src="../../../static/image/m3_coffee-shop (1).png"></div>
                        <div class="m3-icon-stop02" style="left: 32%; top: 27%;"><img class="m3-showani-icon02" src="../../../static/image/m3_coffee-shop (1).png"></div>
                        <div class="m3-icon-move03" style="left: -19%; top: 36%;"><img class="m3-rollani-icon03" src= "../../../static/image/m3_coffee-beans.png"></div>
                        <div class="m3-icon-move04" style="left: 17%; top: 120%;"><img class="m3-rollani-icon04" src="../../../static/image/m3_placeholder.png"></div>
                        <div class="m3-icon-move05" style="left: -36%; top: 62%;"><img class="m3-rollani-icon05" src="../../../static/image/m3_world.png"></div>
                    </div> 
                    <div class="desc white right">
                        <em><span class="m3-num">02</span></em>
                        <div class="title" style="background-image:none!important;">
                            <span class="m3-even-title">방문했던 카페들이 기록된 <br>나만의 카페지도를 만들어보세요.</span>
                        </div>
                        <p class="m3-ctx" style="color: rgb(63, 63, 63); font-weight: normal;">방문 추가한 카페들이 지도 위에 이모티콘으로 표시됩니다.<br>카페를 방문한 횟수에 따라 변화하는 이모티콘을 직접 확인해보세요!</p>
                        {% if user.is_authenticated %}
                            {% if user.total_visit == 0 %}
                            <a class="mainbtn" href="{% url 'cafe:cafe_list' %}" onclick="return confirm('방문했던 카페등록이 하나이상 필요한 페이지입니다. 지금 바로 첫번째 카페를 방문추가 하시겠습니까?');" style="width: 149px;"><span>나의 카페지도 보기</span></a>
                            {% else %}
                            <a class="mainbtn" href="{% url 'user_cafe_map' %}" style="width: 149px;"><span>나의 카페지도 보기</span></a>
                            {% endif %}
                        {% else %}
                        <a class="mainbtn" href="/account/login" onclick="return confirm('로그인이 필요한 페이지입니다. 지금 바로 로그인 하시겠습니까?');" style="width: 149px;"><span>나의 카페지도 보기</span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
                
            <!---------------- main 4th ------------------>
            <div class="page" id="feature3">
                <div class="wrap m4-wrap">
                    <div id="m4-img-wrap">
                        <div class="m4-mainimg" style="background-image:url(../../../static/image/review_cafe.png);"></div>
                        <div class="m4-circle"></div>
                    </div> 
                    <!--오른쪽 그림 + 애니메이션-->
                    <div class="m4-even-back" style="background-image:url(../../../static/image/coffee-main-3.jpeg); height: 100%; position: absolute; width:100%; background-size: 100%; background-position: 30%;"></div>
                    
                    <!--왼쪽 글 -->
                    <div class="desc left" style="left: 15%;">
                        <em><span class="m4-num">03</span></em>
                        <div class="title" style="background-image:none!important;">
                            <span class="m4-odd-title" >방문했던 카페에 리뷰를 남기고<br>댓글을 달아보세요.</span>
                        </div>
                        <p class="m4-ctx" style="color:white; text-shadow: 2px 2px 1px black;">카페 방문자가 남긴 리뷰에 댓글을 달아 직접 질문을 해보세요.<br>먼저 다녀간 사람에게 답변을 들어볼 수 있어요!</p>
                        {% if user.is_authenticated %}
                        <a class="mainbtn" href="{% url 'enroll_visited_cafe' %}" style="width: 146px; margin-right: 10px;"><span>리뷰 쓰기</span></a>
                        <a class="mainbtn" href="{% url 'cafe:cafe_list' %}" style="width: 160px;"><span>리뷰에 댓글 쓰기</span></a>
                        {% else %}
                        <a class="mainbtn" href="/account/login" onclick="return confirm('로그인이 필요한 페이지입니다. 지금 바로 로그인 하시겠습니까?');" style="width: 146px; margin-right: 10px;"><span>방문카페 리뷰 쓰기</span></a>
                        <a class="mainbtn" href="/account/login" onclick="return confirm('로그인이 필요한 페이지입니다. 지금 바로 로그인 하시겠습니까?');" style="width: 160px;"><span>리뷰에 댓글 쓰기</span></a>
                        {% endif %}
                    </div>
                </div>
            </div>


            <!---------------- main 5th ------------------>
            <div class="page" id="feature4">
                <div class="wrap m5-wrap">
                    <div id="m5-img-wrap">
                        <div class="m5-mainimg" style="background-image:url(../../../static/image/ranking.png);"></div>
                        <div class="m5-circle"></div>
                        <div class="m5-icon-move01" style="left: -21%; top: 110%;"><img class="m5-rollani-icon01" src="../../../static/image/m5_award.png"></div>
                        <div class="m5-icon-move02" style="left: -38%; top: 69%;"><img class="m5-rollani-icon02" src="../../../static/image/m5_cup.png"></div>
                        <div class="m5-icon-move03" style="left: -34%; top: 51%;"><img class="m5-rollani-icon03" src="../../../static/image/m5_silvercup.png"></div>
                    </div> 

                    <!--오른쪽 글-->
                    <div class="desc white right">
                        <em><span class="m5-num">04</span></em>
                        <div class="title" style="background-image:none!important;">
                            <span class="m5-even-title">매달 갱신되는 랭킹 시스템으로<br>나의 순위를 확인해보세요.</span>
                        </div>
                        <p class="m5-ctx" style="color: rgb(63, 63, 63); font-weight: normal;">카페 방문 횟수, 리뷰 작성 횟수에 따라<br>누적 순위와 월별 순위를 랭킹 페이지에서 확인해볼 수 있습니다.<br>순위권에 들어 뱃지를 획득해보세요!</p>
                        {% if user.is_authenticated %}
                        <a class="mainbtn" href="{%url 'rank_list' %}" style="margin-right: 10px;"><span>랭킹 확인하기</span></a>
                        <a class="mainbtn" href="{%url 'badge_list' user.pk %}"><span>배지 확인하기</span></a>
                        {% else %}
                        <a class="mainbtn" href="/account/login" onclick="return confirm('로그인이 필요한 페이지입니다. 지금 바로 로그인 하시겠습니까?');" style="margin-right: 10px;"><span>랭킹 보러가기</span></a>
                        <a class="mainbtn" href="/account/login" onclick="return confirm('로그인이 필요한 페이지입니다. 지금 바로 로그인 하시겠습니까?');"><span>배지 보러가기</span></a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!---------------- main 6th ------------------>
            <div class="page" id="feature5">
                <div class="wrap m6-wrap">
                    <div id="m6-img-wrap">
                        <div class="m6-mainimg" style="background-image:url(../../../static/image/m6_friendSearch.png);"></div>
                        <div class="m6-circle"></div>
                    </div> 
                    <div class="m6-even-back" style="background-image:url(../../../static/image/coffee-main-5.jpeg); height: 100%; position: absolute; width:100%; background-size: 100%; background-position: bottom;"></div>
                    <div class="desc left" style="left: 15%;">
                        <em><span class="m6-num">05</span></em>
                        <div class="title" style="background-image:none!important;">
                            <span class="m6-odd-title">아이디나 동네를 키워드로 검색해<br>다른 유저들을 팔로우 해보세요.</span>
                        </div>
                        <p class="m6-ctx" style="color:white; text-shadow: 2px 2px 1px black;">유저 검색 페이지에서 친구의 아이디를 검색하여 팔로우할 수 있습니다.<br>또한 근처 동네를 검색해 다른 사용자들의 카페지도를 볼 수 있습니다.</p>
                        {% if user.is_authenticated %}
                        <a class="mainbtn" href="{% url 'friend_search' %}"><span>유저검색 하기</span></a>
                        {% else %}
                        <a class="mainbtn" href="/account/login" onclick="return confirm('로그인이 필요한 페이지입니다. 지금 바로 로그인 하시겠습니까?');"><span>유저검색 하기</span></a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="fold" style="padding-top:0; padding-bottom: 0; position: absolute; width: 100%; bottom: 0px;">
                    <div class="container">
                        <footer class="pt-3">
                            <ul class="nav justify-content-center">
                                <li class="nav-item footer-item"><a href="https://github.com/woong7" class="nav-link px-2" style="border-bottom: 0;">김건웅<img class="center" src="../../../static/image/github.png" style='height: 100%; max-width: 13%; display:inline; margin-left:6%;'/></a></li>
                                <li class="nav-item footer-item"><a href="https://github.com/shkim21" class="nav-link px-2" style="border-bottom: 0;">김세현<img class="center" src="../../../static/image/github.png" style='height: 100%; max-width: 13%; display:inline; margin-left:6%;'/></a></li>
                                <li class="nav-item footer-item"><a href="https://github.com/shb03323" class="nav-link px-2" style="border-bottom: 0;">박정훈<img class="center" src="../../../static/image/github.png" style='height: 100%; max-width: 13%; display:inline; margin-left:6%;'/></a></li>
                                <li class="nav-item footer-item"><a href="https://github.com/yeram-lim" class="nav-link px-2" style="border-bottom: 0;">임예람<img class="center" src="../../../static/image/github.png" style='height: 100%; max-width: 13%; display:inline; margin-left:6%;'/></a></li>
                            </ul>
                            <p class="text-center text-muted" style="font-size: 15px; margin: 0 0 20px;">&copy; 2021 Pirogramming 15th, TEAM1 - CAFEGO</p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
    <script type="text/javascript" src="//m1.daumcdn.net/tiara/js/td.min.js"></script>
    <script type="text/javascript">var _tiq = 'undefined' !== typeof _tiq ? _tiq : [];window._tiq = _tiq; _tiq.push(['__trackPageview']);</script>
    <script type="text/javascript" src="//t1.daumcdn.net/mapapisdoc/cssjs/1619092942440/js/service.min.js"></script>

</body>

{% endblock %}