.rating_wrap_parents {
    position: relative;
    left: 30%;
    width: 130px;
}

/* 별 5개를 묶어서 absolute해야 겹쳐짐 */
.rating_wrap { 
    position: absolute;
}

.rating .star_wrap {
    width: 20px;
    display: inline-block;
}

.not_rating .star_wrap {
    width: 20px;
    display: inline-block;
}

.rating .star {
    width: 0;
    overflow: hidden;
}

.full_star { /* 별 */
    font-size: 19px;
    color: rgb(255, 238, 0);
} 

.full_star:hover {
    transform: rotate(15deg) scale(1);
}

.empty_star { /* 별 */
    font-size: 19px;
    color: gray;
}

.empty_star:hover {
    transform: rotate(15deg) scale(1);
}

@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'twaysky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* .color {
    #F0A986
    #B3A29A
    #A3735B
    #F0D9CE
    #704F3F
    #573728
} */


#search_page {
    background-color: #F0D9CE;
    padding: 50px 0px;
}

.page_title {
    font-size: 80px;
    font-family: Cafe24Danjunghae;
    text-shadow: 2px 2px 2px #B3A29A;
    color: #704F3F;
}

.page_info {
    font-size: 10px;
    font-family: RIDIBatang;
}

.button {
    border: 2px solid #704F3F;
    background-color: white;
    border-radius: 10px;
    padding: 6px 7px 2px;
    font-size: 1.1em;
    font-family: twaysky;
    color: #704F3F;
}

.button:hover {
    background-color: #704F3F;
    color: white;
}


.table_title {
    font-family: twaysky;
    font-size: 1.5em;
    color: #573728;
    text-shadow: 2px 2px 2px #F0D9CE;
    position: relative;

    height: 48px;
    padding: 3px 2px 0px;
    /* background-color: #B3A29A;  */
}


.table_content {
    /* position: absolute;
    left: 23px;
    top: 60px;

    width: 330px;
    height: 150px;
    margin-top: 30px;
    padding: 20px;
     */
    font-size: 1em;
    font-family: RIDIBatang;
    color: #573728;
    font-weight: 800;
}
