.cafe_map-container {
    width: 100%;
    height: 93.3vh;
    display: table;
}

.cafe_map-container div {
    display: table-cell;
}

#keyword-search {
    width: 300px;
    padding-left: 10px;
}

#map {
    
}