li {
    text-decoration: none;
}

.rating_wrap_parents {
    position: relative;
    left: 38%;
    bottom: 20px;
    width: 180px;
    margin-bottom: 20px;
}

.rating_wrap {
    position: absolute;
}

.rating .star_wrap {
    width: 30px;
    display: inline-block;
}

.not_rating .star_wrap {
    width: 30px;
    display: inline-block;
}

.rating .star {
    width: 0;
    overflow: hidden;
}

.full_star { /* 별 */
    font-size: 29px;
    color: rgb(255, 238, 0);
} 

.full_star:hover {
    transform: rotate(15deg) scale(1);
}

.empty_star { /* 별 */
    font-size: 28px;
    color: gray;
}

.empty_star:hover {
    transform: rotate(15deg) scale(1);
}