{% extends 'base.html' %}
{% load static %}
{% block title %}
    카페 지도
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cafe_map.css' %}">
{% endblock %}

{% block content %}
    <div style="height: 93.3vh;">
        <div id="map" style="width: 100%; height: 100%;"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fcbe48a94474ef23703951ea76b61e90&libraries=services"></script>
    <script  type="text/javascript">
    // 현재 카페 정보를 json 형식으로 받아옴
    const cafe_id = {{ cafe_id | safe }};
    const cafe_name = "{{ cafe_name | safe }}";
    const cafe_x = {{ cafe_x | safe }};
    const cafe_y = {{ cafe_y | safe }};
    const cafe_address = "{{ cafe_address | safe }}";

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(cafe_y, cafe_x), // 지도의 중심좌표
            level: 2 // 지도의 확대 레벨
        };
    
    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도 생성

    var imageSrc = "https://image.flaticon.com/icons/png/512/3127/3127450.png", // 마커이미지의 주소    
        imageSize = new kakao.maps.Size(24, 24),
        imageOption = {offset: new kakao.maps.Point(8, 16)};
    
    var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(cafe_y, cafe_x),
            image : new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
        });

    // 마커를 클릭하면 장소명을 표출할 인포윈도우
    var overlay = new kakao.maps.CustomOverlay({zIndex:1});

    overlay.setContent(`
        <div class="hover-overlay-click">
            <div class="infos d-flex flex-column">
                <div class="fw-bold overlay-cafe-name">${cafe_name}</div>
                <div class="overlay-cafe-address">${cafe_address}</div>
                <div class="overlay-buttons">
                    <button class="overlay-btn" onClick="location.href='../review_list/${cafe_id}'">리뷰 보기</button>
                    <button class="overlay-btn" onClick="location.href='../enroll_cafe_from_map/${cafe_id}'">방문 추가</button>
                </div>
            </div>
        </div>
    `);

    overlay.setPosition(new kakao.maps.LatLng(cafe_y, cafe_x));
    overlay.setMap(map);
    </script>
{% endblock %}