{% extends 'base.html' %}
{% load static %}

{% block title %}
    방문했던 카페 등록
{% endblock %}

{% block content %}
    <h1>방문했던 카페를 등록하는 페이지입니다.</h1>
    <p>방문했던 카페 등록하기</p>
    <p>이전에 갔던 카페를 또 방문하셨네요~</p>

    {% if q %}
    <h5>'{{ q }}' 검색 결과입니다.</h5><br/>
    {% endif %}

    <!-- 카페 검색 -->
    <form action="" method="GET">
        <select name="type">
            <option value="name">카페</option>
            <option value="address">주소</option>
            <option value="all">카페+주소</option>
        </select>
        <input type="text" name="q" value="{{ q }}" placeholder="카페 이름 검색">
        <button type="submit" id="search_btn">search</button><br/>
    </form>


    <!-- 카페 리스트  -->
    <table>
        <thead>
            <tr>
                <th> </th>
                <th>카페명</th>
                <th>위치</th>
                <th>방문 횟수</th>
                <th>방문여부</th>             
            </tr>
        </thead>
        <tbody>
            {% if visited_cafe_list %}
                {% for cafe in visited_cafe_list %}
                    <tr>
                        <td>A</td>
                        <td><a href="{% url 'cafe:review_list' cafe.id %}">{{ cafe.cafe_id }}</a></td>
                        <td>address</td>
                        <td>{{ cafe.visit_count  }}</td>
                        <td><input type="radio" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" name="visit" value="visit"></td>
                    </tr>
                {% endfor %}
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ cafe.name }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        마신 음료를 체크해주세요!<br>
                        아메리카노 <input type="checkbox" class="btn btn-primary" name="beverage" value="beverage"><br>
                        바닐라라떼 <input type="checkbox" class="btn btn-primary" name="beverage" value="beverage"><br>
                        카페라떼 <input type="checkbox" class="btn btn-primary" name="beverage" value="beverage"><br>
                        카라멜마끼야또 <input type="checkbox" class="btn btn-primary" name="beverage" value="beverage"><br>
                        초코라떼 <input type="checkbox" class="btn btn-primary" name="beverage" value="beverage"><br>
                        녹차라떼 <input type="checkbox" class="btn btn-primary" name="beverage" value="beverage"><br>
                        에이드 <input type="checkbox" class="btn btn-primary" name="beverage" value="beverage"><br>
                        허브차 <input type="checkbox" class="btn btn-primary" name="beverage" value="beverage"><br>
                        기타 <input type="text" id="beverage" name="beverage">
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">등록하기</button>
                        </div>
                    </div>
                    </div>
                </div>
            {% else %}      <!--게시글 쿼리셋이 존재하지 않을 때-->
                {% if q %}  <!--검색어가 있어 q가 context로 넘어오면 검색 결과가 없다.-->
                <tr class="text-center">
                    <td colspan="5">
                        등록된 카페가 없습니다.
                    </td>
                </tr>
                {% else %}  <!--q가 없으면 검색어가 아니며 카페가 존재하지 않으므로 카페 미등록-->
                <tr class="text-center">
                    <td colspan="5">
                        등록된 카페가 없습니다.
                    </td>
                </tr>
                {% endif %} 
            {% endif %}            
        </tbody>
    </table>
    
    {% if messages %}
        <div>
            {% for message in messages %}
                {{ message.tags }}! {{ message.message }}
            {% endfor %}
        </div>
    {% endif %}

    <!-- 페이징 처리 -->
    {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page_obj.previous_page_number }}" tabindex="-1">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">이전</a>
        </li>
        {% endif %}

        {% for page in page_range %}
        <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
            <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page }}">{{ page }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page_obj.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}

{% endblock %}