{% extends 'base.html' %}
{% load static %}

{% block title %}
    방문했던 카페 등록
{% endblock %}

{% block content %}


<div class="position-relative overflow-hidden m-0 text-center bg-light" style="padding: 5rem;">
    <h4>이전에 방문했던 카페 추가하기</h4>
    <p>이전에 갔던 카페를 또 방문하셨네요~</p>
    <!-- 카페 검색창 -->
    <form action="" method="GET">
        <select name="type">
            <option value="name">카페</option>
            <option value="address">주소</option>
            <option value="all">카페+주소</option>
        </select>
        <input type="text" name="q" value="{{ q }}" placeholder="카페 이름 검색">
        <button type="submit" id="search_btn">검색</button><br/>
    </form>

    <!-- 카페 리스트  -->
    <table>
        <thead>
            <tr>
                <th> </th>
                <th>카페명</th>
                <th>위치</th>
                <th>방문 횟수</th>
                <th>방문여부</th>             
            </tr>
        </thead>
        <tbody>
            {% if q %}
            <h5>'{{ q }}' 검색 결과입니다.</h5><br/>
            <!-- {% endif %}         -->
            {% if visited_cafe_list %}
            검색 결과: {{page_obj.paginator.count}}개
                {% for cafe in visited_cafe_list %}
                    <tr>
                        <td>{{cafe.cafe.id}}</td>
                        <td><a href="{% url 'cafe:review_list' cafe.cafe.id %}">{{ cafe.cafe.name }}</a></td>
                        <td>{{cafe.cafe.address}}</td>
                        <td>{{ cafe.visit_count }}</td>
                        <td><input type="radio" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal_{{ cafe.cafe.id }}" name="visit" value="visit"></td>
                                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal_{{ cafe.cafe.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <form action="{% url 'visited_register' %}" method='post'>
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">
                                                <input type="text" name="cafename" value="{{ cafe.cafe.name }}">
                                                <input type="text" name="cafeid" value="{{ cafe.cafe.id }}">
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            마신 음료를 체크해주세요!<br>
                                            <input type="radio" class="btn btn-primary" name="beverage" value="아메리카노"> 아메리카노 <br>
                                            <input type="radio" class="btn btn-primary" name="beverage" value="바닐라라떼"> 바닐라라떼 <br>
                                            <input type="radio" class="btn btn-primary" name="beverage" value="카페라떼"> 카페라떼 <br>
                                            <input type="radio" class="btn btn-primary" name="beverage" value="카라멜마끼야또"> 카라멜마끼야또 <br>
                                            <input type="radio" class="btn btn-primary" name="beverage" value="초코라떼"> 초코라떼 <br>
                                            <input type="radio" class="btn btn-primary" name="beverage" value="녹차라떼"> 녹차라떼 <br>
                                            <input type="radio" class="btn btn-primary" name="beverage" value="에이드"> 에이드 <br>
                                            <input type="radio" class="btn btn-primary" name="beverage" value="허브차"> 허브차 <br>
                                            기타 <input type="text" name="etc" value="">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">등록하기</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </tr>
                {% endfor %}

            {% else %}      <!--게시글 쿼리셋이 존재하지 않을 때-->
                {% if q %}  <!--검색어가 있어 q가 context로 넘어오면 검색 결과가 없다.-->
                <tr class="text-center">
                    <td colspan="5">
                        등록된 카페가 없습니다.
                    </td>
                </tr>
                {% else %}  <!--q가 없으면 검색어가 아니며 카페가 존재하지 않으므로 카페 미등록-->
                <tr class="text-center">
                    <td colspan="5">
                        등록된 카페가 없습니다.
                    </td>
                </tr>
                {% endif %} 
            {% endif %}            
        </tbody>
    </table>
    
    {% if messages %}
        <div>
            {% for message in messages %}
                {{ message.tags }}! {{ message.message }}
            {% endfor %}
        </div>
    {% endif %}

    <br>
    <!-- 페이징 처리 -->
    {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page_obj.previous_page_number }}" tabindex="-1">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">이전</a>
        </li>
        {% endif %}

        {% for page in page_range %}
        <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
            <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page }}">{{ page }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page_obj.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">다음</a>
        </li>
        {% endif %}
        <span>{{page_obj}}</span>
    </ul>
    {% endif %}

</div>
<p>지도 사진</p>
<p>지도 위에서 태그 표시, 클릭할 수 있게.</p>
{% endblock %}