{% extends 'base.html' %}

{% block content %}

<div class="position-relative overflow-hidden m-0 text-center bg-light" style="padding: 10rem;">
    <p id="header-logo-image"></p>
    <h1></h1>
    <p class="font-weight-bold">{{user.username}} 님 반가워요!</p> <!--일단 ID로,,  fontweight이 안 맞음;;-->
    <p>카페를 추가하세요!</p>
    <button class="btn btn-outline-primary" onClick="location.href='{% url 'enroll_new_cafe' %}'">새로 방문한 카페 추가하기</button>
    <button class="btn btn-outline-primary" onClick="location.href='{% url 'enroll_visited_cafe' %}'">이전에 방문했던 카페 추가하기</button>
</div>

{% endblock %}