{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cafe_search.css' %}">
{% endblock %}

{% block title %}
    새로운 친구 등록
{% endblock %}

{% block content %}
<div id="search_page" class="position-relative overflow-hidden m-0 text-center" style="padding-left:8rem; padding-right:8rem; min-height: 93.3vh;">
    <header class="pt-3">
        <div class="p-2 mx-auto text-center">
            <div class="page_title">Search User</div>
            <p class="fs-5 text-muted page_info">닉네임과 동네를 검색해서 다른 유저들을 팔로우 해보세요.</p>
        </div>
    </header>
    <!-- 친구 검색창 -->
    <form action="" method="GET" class="pb-md-2">
        <select name="type" style="font-family: RIDIBatang;">
            <option value="nickname">닉네임</option>
            <option value="dong">동네</option>
            <option value="all">닉네임+동네</option>
        </select>
        <input type="text" name="q" value="{{ q }}" placeholder="유저 닉네임 검색" style="font-family: RIDIBatang; width: 550px;">
        <button class="button" type="submit" id="search_btn">search</button><br/>
    </form>

    <!-- 친구 리스트  -->
    <table class="table">
        <thead>
            <tr class="table_title">
                <th> </th>
                <th>닉네임</th>
                <th>동네</th>
                <th>Follow</th>             
            </tr>
        </thead>
        <tbody>
            {% if q %}
                <h5 style="font-family: RIDIBatang;">'{{ q }}' 검색 결과입니다.</h5><br/>
                <p style="font-family: RIDIBatang;">검색 결과: {{page_obj.paginator.count}}명</p>
            {% endif %}
        </br>
            {% if user_list %}

                {% for user in user_list %}
                    <tr class="text-center table_content">
                        <td style="vertical-align: middle; font-size:1.2em;">{{forloop.counter0|add:page_obj.start_index}}</td>
                        <td style="vertical-align: middle;">
                            <a href="{% url 'mypage' user.id %}" class="atag">{{ user.nickname }}</a>
                        </td>
                        <td style="vertical-align: middle; color: black; font-size:1.2em;">{{user.gu}} {{ user.dong }}</td> <!-- | truncatechars:10-->
                        <!-- checkbox trigger modal -->
                        <td><input type="submit" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal_{{ user.id }}" name="visit" value="Follow"></td>
                        <div class="modal fade" id="exampleModal_{{ user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            
                            <div class="modal-dialog">
                                <form action="{% url 'friend_register' %}" method='post'>
                                    <div class="modal-content"> 
                                        <div class="modal-header">
                                            <h5 class="modal-title table_title" id="exampleModalLabel" name="friendname2">
                                                <input type="hidden" name="friendname" value="{{ user.nickname }}">
                                                <input type="hidden" name="friendid" value="{{ user.id }}">
                                                {{user.nickname}}님을 팔로우 하시겠습니까?
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>                                    
    
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="button" data-bs-dismiss="modal">닫기</button>
                                            <button type="submit" id="submit_btn_{{user.id}}" class="button" onclick="onClick({{ user }})">Follow</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </tr>
                {% endfor %}
                <!-- Modal -->
                
            {% else %}     
                <tr>
                    <td>등록된 유저가 없습니다.</td>
                </tr>
            {% endif %}            
        </tbody>
    </table>
    


    
    <!-- 페이징 처리 -->
    {% if is_paginated %}
    <div class="btn-group me-2" role="group" aria-label="First group">
    <ul class="pagination" style="justify-content: space-around;">
        <li class="page-item">
            <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{1}}">
                <button type="button" class="btn btn-outline-secondary">처음</button>
            </a>
        </li>
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page_obj.previous_page_number }}" tabindex="-1">
                <button type="button" class="btn btn-outline-secondary">이전</button>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">
                <button type="button" class="btn btn-outline-secondary">이전</button>
            </a>
        </li>
        {% endif %}

        {% for page in page_range %}
        <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
            
            <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page }}">
                <button type="button" class="btn btn-outline-secondary">{{ page }}</button>
            </a>
            
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{ page_obj.next_page_number }}">
                <button type="button" class="btn btn-outline-secondary">다음</button>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">
                <button type="button" class="btn btn-outline-secondary">다음</button>
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="?type={{ type }}&q={{ q }}&page={{page_obj.paginator.num_pages}}">
                <button type="button" class="btn btn-outline-secondary">마지막</button>
            </a>
        </li>
        <span>{{page_obj}}</span>
    </ul>
    </div>
    {% endif %}

</div>
{% endblock %}

