{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.is_admin %}
        {% if cafenum == 0%}
            <p><a href="{% url 'cafe:init_data' %}" >카페 데이터 받기(리셋 후 한번만 실행해 주세요!)</a></p>
        {% endif %}
    {% endif %}
        <div class="position-relative overflow-hidden m-0 text-center bg-light" style="padding: 10rem;">
            <p id="header-logo-image"></p>
            <h1></h1>
            <p class="font-weight-bold">{{user.nickname}} 님 반가워요!</p> <!--일단 ID로,,-->
            <p>카페고에 오신 것을 환영합니다~</p>
            <div class="row" style="justify-content: space-around;">
                <div class="card col-sm-6" style="width: auto;">
                    <img class="card-img-top center" src="../../../static/image/cafe2.png" style='height: 80%; width: 80%; display: block; margin: 0 auto;'/>
                    <div class="card-body">
                        <button class="btn btn-outline-primary" onClick="location.href='{% url 'enroll_home' %}'">방문카페 추가하러가기</button>
                    </div>
                </div>
                {% if total_visit != 0 %}
                    <div class="card col-sm-6" style="width: auto;">
                        <img class="card-img-top center" src="../../../static/image/cafe1.png" style='height: 80%; width: 80%; display: block; margin: 0 auto;'/>
                        <div class="card-body">
                            <button class="btn btn-outline-primary" onClick="location.href='{% url 'user_cafe_map' %}'">나의 카페지도 보러가기</button>
                        </div>
                    </div>
                {% endif %}
                <div class="card col-sm-6" style="width: auto;">
                    <img class="card-img-top center" src="../../../static/image/cafe1.png" style='height: 80%; width: 80%; display: block; margin: 0 auto;'/>
                    <div class="card-body">
                        <button class="btn btn-outline-primary" onClick="location.href='{% url 'cafe:cafe_list' %}'">카페 검색하기</button>
                    </div>
                </div>
                <div class="card col-sm-6" style="width: auto;">
                    <img class="card-img-top center" src="../../../static/image/cafe2.png" style='height: 80%; width: 80%; display: block; margin: 0 auto;'/>
                    <div class="card-body">
                        <button class="btn btn-outline-primary" onClick="location.href='{%url 'rank_list' %}'">랭킹 확인하러 가기</button>
                    </div>
                </div>
            </div>
        </div>
        
{% else %}
    <div class="position-relative overflow-hidden m-0 text-center bg-light" style="padding: 18rem;">
        <p id="header-logo-image"></p>
        <h1></h1>
        {% if usernum == 0 %}
            <button class="btn btn-outline-primary" onClick="location.href='{%url 'create_admin' %}'">슈퍼유저 생성</button>
        {% else %}
            <button class="btn btn-outline-primary" onClick="location.href='/account/login'">로그인하기</button>
            <h1></h1>
        {% endif %}
        <button class="btn btn-outline-primary" onClick="location.href='/account/signup'">회원가입</button>
    </div>
    

{%endif %}

{% endblock %}