{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
{% if user.is_admin %}
    {% if cafenum == 0%}
        <p><a href="{% url 'cafe:init_data' %}" >카페 데이터 받기(리셋 후 한번만 실행해 주세요!)</a></p>
    {% endif %}
{% endif %}
    <div class="position-relative overflow-hidden m-0 text-center bg-light" style="padding: 10rem;">
        <p id="header-logo-image"></p>
        <h1></h1>
        <p class="font-weight-bold">{{user.username}} 님 반가워요!</p> <!--일단 ID로,,-->
        <p>카페고에 오신 것을 환영합니다~</p>
        <button class="btn btn-outline-primary" onClick="location.href='{% url 'enroll_home' %}'">방문카페 추가하러가기</button>
        <button class="btn btn-outline-primary" onClick="location.href='{% url 'user_cafe_map' %}'">나의 카페지도 보러가기</button>
        <button class="btn btn-outline-primary" onClick="location.href='{% url 'cafe:cafe_list' %}'">카페 검색하기</button>
        <button class="btn btn-outline-primary" onClick="location.href='{%url 'rank_list' %}'">랭킹 확인하러 가기</button>
    </div>
    
{%else%}
    <p>메인 페이지로 돌아가도록 설정</p>
    {% if usernum == 0 %}
        <h4><a href="{%url 'create_admin' %}">슈퍼유저 생성</a></h4>
    {% else %}
        <h4><a href="/account/login">로그인하기</a></h4>
    {% endif %}
    <h4><a href="/account/signup">회원가입</a></h4>
{%endif %}

{% endblock %}