{% extends 'base.html' %}
{% load static %}

{% block css %}
<meta property="og:type" content="website">
<meta property="og:title" content="Kakao 지도 API">
<meta property="og:description" content="Kakao 지도 API를 이용해보세요. 다양한 샘플과 상세한 매뉴얼로 개발자분들의 시간을 아껴드리겠습니다!">
<meta property="og:image" content="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/daumMapsApi.png">
<meta property="og:url" content="https://apis.map.kakao.com"><meta name="twitter:card" content="summary_large_image">

<meta name="twitter:title" content="Kakao 지도 API">
<meta name="twitter:description" content="Kakao 지도 API를 이용해보세요. 다양한 샘플과 상세한 매뉴얼로 개발자분들의 시간을 아껴드리겠습니다!">
<meta name="twitter:image" content="https://apis.map.kakao.com/images/daumMapsApiThumb.png">
<meta name="twitter:url" content="https://apis.map.kakao.com">

<!--요거 써도 되는 건지 모르겠음...-->
<link rel="stylesheet" type="text/css" href="//t1.daumcdn.net/mapapisdoc/cssjs/1619092942440/css/web.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<script type="text/javascript" src="https://spi.maps.daum.net/imap/map_js_init/v3.js"></script>
<script type="text/javascript" src="//s1.daumcdn.net/svc/original/U03/cssjs/jquery/jquery-1.11.0.js"></script>
<script type="text/javascript" src="//s1.daumcdn.net/svc/original/U0301/cssjs/JSON-js/fc535e9cc8/json2.min.js"></script>
{% endblock %}

{% block content %}

<body class="web top" data-page_section="web" data-page_type="top" data-title="Kakao 지도 Web API">

    <!--우측 점박이로 페이지 이동 가능-->
    <ul id="pagination">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
    </ul>

    <div id="daumBody" style="margin-left: 0px; background-color: white;">
        <div id="daumContent">
            <div class="page" id="intro">
                <!-- <div class="bg"></div> -->
                
                <div class="wrap">
                    <!-- 가운데 점선 원 -->
                    <div class="hoverbox">
                        <div class="screen">
                            <div class="hud01">
                                <img src="../../../media/static/image/main_1st_rollingcoffee-1572739_1280.png">
                            </div>
                        </div>
                    </div>

                    <div class="core" style="background-color: transparent; color: white;">
                        <h2 style="margin-top: 5rem;">CAFEGO</h2>
                        <div class="main_1st_ctx">지도기반 카페 이용기록 웹서비스</div>

                        {% if user.is_authenticated %}
                            <button class="startbtn" onclick="location.href='/account/login'">Cafe Go</button>
                        {% else %}
                            <button class="startbtn" onclick="location.href='/account/login'">로그인</button>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="page" id="feature1">
                <!-- <div class="bg"></div> -->
                
                <div class="wrap">
                    <div style="background-image:url(../../../media/static/image/coffee_main.svg); background-repeat: no-repeat; height: 300px; position: absolute; left: 800px; width:600px; top: 220px;"></div>

                    <div class="desc left">
                        <em><span>01</span></em>
                        <div class="title" style="background-image:none!important;">
                            <span style="position:absolute; left:0px; bottom:7px; font-size:32px; text-indent:0; font-family: NanumGothic,'Malgun Gothic',dotum,'ë‹ì›€',sans-serif;">방문했던 카페를 추가하여<br> 나만의 카페지도를 만들어보세요.</span>
                        </div>
                        <p style="width: 402px;">서울 시내 37733개의 카페 중에 내가 방문했던 카페를 찾아 추가할 수 있습니다. 카페리스트에서 검색하거나, 현재위치 근처의 카페들을 지도에서 찾아 추가할 수 있습니다.</p>
                        <a class="link_sample" href="{% url 'cafe:cafe_list' %}" style="width: 160px; margin-right: 10px;" ><span>검색하여 카페추가</span></a>
                        <a class="link_sample" href="{% url 'cafe:cafe_map' %}" style="width: 160px;"><span>지도에서 카페추가</span></a>
                    </div>
                </div>
            </div>

            <div class="page" id="feature2">
                <!-- <div class="bg"></div> -->

                <div class="wrap">

                    <div class="desc white right">
                        <em><span>02</span></em>
                        <div class="title" style="background-image:none!important;">
                            <span style="position:absolute; left:0px; bottom:7px; font-size:32px; text-indent:0; font-family: NanumGothic,'Malgun Gothic',dotum,'ë‹ì›€',sans-serif;">나만의 카페지도를 만들어보세요.</span>
                        </div>
                        <p>카페 추가시 마신 음료도 함께 기록할 수 있습니다. 방문 추가한 카페들이 지도 위에 이모티콘으로 표시됩니다.</p>
                        <a class="link_sample" href="{% url 'user_cafe_map' %}" style="width: 149px;"><span>나의 카페지도 보기</span></a>
                    </div>
                </div>
            </div>
                
        
            <div class="page" id="feature3">
                <!-- <div class="bg"></div> -->

                <div class="wrap">
                    <!--오른쪽 그림 + 애니메이션-->
                    <div style="background-image:url(../../../media/static/image/background_ex.jpg); background-repeat: no-repeat; height: 100%; position: absolute; width:100%;"></div>
                    <!--왼쪽 글 -->
                    <div class="desc left">
                        <em><span>03</span></em>
                        <div class="title" style="background-image:none!important;">
                            <span style="position:absolute; left:0px; bottom:7px; font-size:32px; text-indent:0; font-family: NanumGothic,'Malgun Gothic',dotum,'ë‹ì›€',sans-serif;">방문했던 카페에 리뷰를 남기고 댓글을 달아보세요.</span>
                        </div>
                        <p style="width: 417px;">리뷰에 댓글을 달아 카페 사용자에게 직접 물어볼 수 있습니다. 다양한 카페를 방문한 사람에게, 그 카페 단골에게 <br>솔직한 답변을 들을 수 있습니다.</p>
                        <a class="link_sample" href="{% url 'enroll_visited_cafe' %}" style="width: 146px; margin-right: 10px;"><span>방문카페 리뷰 쓰기</span></a>
                        <a class="link_sample" href="{% url 'cafe:cafe_list' %}"style="width: 160px;"><span>리뷰에 댓글 쓰러가기</span></a>
                    </div>
                </div>
            </div>

            <div class="page" id="feature4">
                <!-- <div class="bg"></div> -->
                <div class="wrap">
                    <div class="pattern"></div>

                    <!--오른쪽 글-->
                    <div class="desc white right">
                        <em><span>04</span></em>
                        <div class="title" style="background-image:none!important;"><span style="position:absolute; left:0px; bottom:7px; font-size:32px; text-indent:0; font-family: NanumGothic,'Malgun Gothic',dotum,'ë‹ì›€',sans-serif;">매달 갱신되는 랭킹 시스템으로 나의 순위를 확인해보세요.</span></div>
                        <p style="width: 410px;">카페를 얼마나 갔는지, 리뷰를 얼마나 썼는지에 따라 누적 <br>순위와 지난달 순위를 랭킹 페이지에서 확인해볼 수 있습니다.</p>
                        <a class="link_sample" href="{%url 'rank_list' %}" style="margin-right: 10px;"><span>랭킹 보러가기</span></a>
                        {% if user.is_authenticated %}
                            <a class="link_sample" href="{%url 'badge_list' user.pk %}"><span>배지 보러가기</span></a>
                        {% else %}

                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="page" id="feature5">
                <!-- <div class="bg"></div> -->
                <div class="wrap">


                    <div class="desc left">
                        <em><span>05</span></em>
                        <div class="title" style="background-image:none!important;">
                            <span style="position:absolute; left:0px; bottom:7px; font-size:32px; text-indent:0; font-family: NanumGothic,'Malgun Gothic',dotum,'ë‹ì›€',sans-serif;">아이디나 동네를 검색해서<br> 팔로우 해보세요.</span>
                        </div>
                        <p style="width: 411px;">유저 검색 페이지에서 친구의 아이디를 검색할 수 있습니다. 내가 살고 있는 동네를 검색해서 동네친구의 카페지도를 확인해볼 수 있습니다.</p>
                        <a class="link_sample" href="{% url 'friend_search' %}"><span>유저검색 하기</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
    <script type="text/javascript" src="//m1.daumcdn.net/tiara/js/td.min.js"></script>
    <script type="text/javascript">var _tiq = 'undefined' !== typeof _tiq ? _tiq : [];window._tiq = _tiq; _tiq.push(['__trackPageview']);</script>
    <script type="text/javascript" src="//t1.daumcdn.net/mapapisdoc/cssjs/1619092942440/js/service.min.js"></script>
</body>

{% endblock %}