{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<!------------------------------------------------옆으로 넘어가는 창------------------------------------------------>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner" style="color: black;">
        <div class="carousel-item active bg-dark">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="font-weight-bold text-light" style="font-weight: bold;">지도 위에 카페 방문기록을 남겨 나만의 카페지도를 만들어보세요!</h1>
            </div>
        </div>
        <div class="carousel-item bg-dark">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="font-weight-bold text-light" style="font-weight: bold;">실제 카페 방문자에게 댓글을 달아 물어보세요!</h1>
            </div>
        </div>
        <div class="carousel-item bg-dark">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="font-weight-bold text-light" style="font-weight: bold;">매달 갱신되는 카페 방문 랭킹을 확인해보세요!</h1>
            </div>
        </div>
        <div class="carousel-item bg-dark">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="font-weight-bold text-light" style="font-weight: bold;">다른 사용자를 팔로우해서 카페지도를 살펴보세요!</h1>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="text-center">
</br></br>
    {% if user.is_authenticated %}
        {% if user.is_admin %}
            {% if cafenum == 0%}
                <p><a href="{% url 'cafe:init_data' %}" >카페 데이터 받기(리셋 후 한번만 실행해 주세요!)</a></p>
            {% endif %}
        {% endif %}
    {% endif %}
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">방문했던 카페를 추가하여 나만의 카페지도를 만들어보세요!</h2>
    </br></br>
        <p class="lead">서울 시내 37733개의 카페 중에 내가 방문했던 카페를 찾아 추가할 수 있습니다. 카페리스트에서 검색해서 추가하거나, 현재위치 근처의 카페들을 지도에서 찾아 추가할 수 있습니다.</p>
        <p class="lead">카페에서 마신 음료도 함께 기록할 수 있어요. 나만의 카페지도 위에 방문했던 카페들이 이모티콘으로 표시돼요. 카페를 많이 갈수록 커지는 이모티콘을 확인해보세요!</p>
        {% if user.is_authenticated %}
            <button class="btn btn-outline-primary" onClick="location.href='{% url 'cafe:cafe_list' %}'">검색하여 카페 추가하기</button>
            <button class="btn btn-primary" onClick="location.href='{% url 'cafe:cafe_map' %}'">지도에서 카페 추가하기</button>
            <button class="btn btn-outline-primary" onClick="location.href='{% url 'user_cafe_map' %}'">나의 카페지도 보러가기</button>
        {% else %}
            <!--로그인 해주세요! 모달 창! 로그인 하러 가기-->
        {% endif %}
    </div>
    <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">카페별로 리뷰를 남기고 댓글을 달아보세요!</h2>
    </br></br>
        <p class="lead">방문했던 카페에 리뷰를 남길 수 있어요. 리뷰에 댓글을 달아 카페 사용자에게 직접 물어볼 수 있어요. 다양한 카페를 방문한 사람에게, 그 카페 단골에게 솔직한 답변을 들어보세요.</p>
        {% if user.is_authenticated %}
            <button class="btn btn-outline-primary" onClick="location.href='{% url 'enroll_visited_cafe' %}'">방문했던 카페 리뷰 쓰러가기</button>
            <button class="btn btn-primary" onClick="location.href='{% url 'cafe:cafe_list' %}'">카페 검색해서 댓글 쓰러가기</button>
        {% else %}
            <!--로그인 해주세요! 모달 창! 로그인 하러 가기-->
        {% endif %}
    </div>
    <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">매달 갱신되는 랭킹 시스템으로 나의 순위를 확인해보세요!</h2>
    </br></br>
        <p class="lead">카페를 얼마나 갔는지, 리뷰를 얼마나 썼는지에 따라 누적 순위와 지난달 순위를 확인해볼 수 있어요. </p>
        {% if user.is_authenticated %}
            <button class="btn btn-outline-primary" onClick="location.href='{%url 'rank_list' %}'">랭킹 확인하러 가기</button>
            <button class="btn btn-primary" onClick="location.href='{%url 'badge_list' user.pk %}'">배지 리스트 보기</button>
        {% else %}
            <!--로그인 해주세요! 모달 창! 로그인 하러 가기-->
        {% endif %}
    </div>
    <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">아이디나 동네를 검색해서 팔로우 해보세요!</h2>
    </br></br>
        <p class="lead">유저 검색 페이지에서 친구의 아이디를 검색해보세요. 내가 살고 있는 동네를 검색해서 동네친구의 카페지도를 확인해보세요.</p>
        {% if user.is_authenticated %}
            <button class="btn btn-outline-primary" onClick="location.href='{% url 'friend_search' %}'">유저검색 하러가기</button>
        {% else %}
            <!--로그인 해주세요! 모달 창! 로그인 하러 가기-->
        {% endif %}
    </div>
    <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
    </div>
</div>

{% endblock %}