{% extends 'base.html' %}

{% block content %}
    <h1>{{user.nickname}}님의 마이페이지입니다.</h1>

    <div>
        {% for badge in taken_badges %}
            <div>
                <img src="{{badge.badge_image.url}}" style="width: 10%; height: 10%;">
                <p>{{badge.badge_name}}</p>
            </div>
        {% endfor %}
    </div>

    {% for cafe, drinks in drink_list_dic.items %} 
        <span style="font-size: 20px; font-weight: bold">카페명 : {{cafe}}</span>
        <p> 방문 횟수: {{cafe.visit_count}}</p>
        <span> 마신음료 : </span>
        {% for drink in drinks %}
            <span>{{drink}}</span>
        {% endfor %}
    </br>
    {% endfor %}

{% endblock %}