{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block content %}
<div class="py-4 my_page p-5">
    <div class="p-5 mb-4 bg-deepbrown  rounded-3">
        <div class="container-fluid py-2">
            <h1 class="display-5 fw-bold text-center page_title">{{owner.nickname}}님의 마이페이지</h1>
            {% if user.id == owner.id %}
                <button class="btn button btn-sm" onClick="location.href='{% url 'info_edit' user.pk %}'">개인정보 수정</button>
            {% endif %}
            <div>
                {% if owner.nickname in names_to_exclude %}
                    {% if not owner.id == user.id %}
                        <button class="btn button btn-sm" onClick="location.href='{% url 'deletefriend' owner.pk%}'">UnFollow</button>
                    {% endif %}
                {% else %}
                    <button class="btn button btn-sm" onClick="location.href='{% url 'addfriend' owner.pk%}'">Follow</button>
                {% endif %}
            </div>
            </br>
            <div>
                {% if visit_cafes %}
                    <button class="btn button btn-sm" onClick="location.href='{% url 'user_cafe_map' %}'">나의 카페 지도 보러가기</button>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 bg-deepbrown rounded-3">
                <button class="btn button btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
                    획득한 배지 보기
                </button>
                <button class="btn button btn-sm" onClick="location.href='{% url 'badge_list' owner.pk %}'">획득한 배지: {{total_badge_count}}개</button>
                <div class="collapse" id="collapseExample1">
                    <div class="card card-body">
                        {% for badge in taken_badges %}
                            <p>
                                <img src="{{badge.badge_image.url}}" style="width: 5%; height: 5%;">
                                <span>{{badge.badge_name}}</span>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <button class="btn button btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                    방문한 카페: {{visit_cafes.count}}곳 / 총 {{ total_visit }}회
                </button>
                <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                        {% for cafe, drinks in drink_list_dic.items %} 
                            <span style="font-size: 20px; font-weight: bold">카페명 : <a href="{% url 'cafe:review_list' cafe.id%}">{{cafe}}</a></span>
                            <span> 방문 횟수: {{cafe.visit_count}}</span>
                            <span> 마신음료 : </span>
                            {% for drink in drinks %}
                                <span>{{drink}}</span>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</br>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5  bg-light rounded-3">
                <button class="btn button btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                    작성한 리뷰 보기
                </button>
                <button class="btn button btn-sm" type="button" onClick="location.href='{% url 'myreview_list' %}'">작성한 리뷰 : {{all_review_count}}개 </button>
                <div class="collapse" id="collapseExample3">
                    <div class="card card-body">
                        <article class="each_review">
                            {% for reviews in my_all_review %}
                                <a href="{% url 'mypage' reviews.username.pk %}">{{ reviews.username }}</a> 

                                {% if reviews.review_stars == '1.0' %}
                                    <span>⭐</span>
                                {% elif reviews.review_stars == '2.0' %}
                                    <span>⭐⭐</span>
                                {% elif reviews.review_stars == '3.0' %}
                                    <span>⭐⭐⭐</span>
                                {% elif reviews.review_stars == '4.0' %}
                                    <span>⭐⭐⭐⭐</span>
                                {% elif reviews.review_stars == '5.0' %}
                                    <span>⭐⭐⭐⭐⭐</span>
                                {% endif %}
                                {{ reviews.created_at }}
                                <br/>
                                <span>{{ this_cafe.name }} 방문 횟수: {{reviews.visit_cafe.visit_count}} <!--세현 8/11삽질노트-->
                                </span>
                                <span>총 카페 방문 횟수: {{ reviews.username.total_visit }}</span>
                                <span>총 작성 리뷰 수: {{ reviews.username.total_review }}</span>
                                <br/>
                                {{ reviews.content }}<br/>

                                {% if review_photo %}
                                    {% for img in review_photo %}
                                        {% if img.review.id == reviews.id %}
                                            <img src="{{img.image.url}}" style="width: 5%; height: 5%;">         
                                        {% endif %}
                                    {% endfor %}   
                                {% endif %}
                                <br/>
                            

                                <div class="comments-{{reviews.id}}">
                                    <ul>
                                        {% for comment in comments %}
                                            {% if comment.post == reviews %}
                                                <li>
                                                    <div class="comment-{{comment.id}} container">
                                                        <div class="row">
                                                            <div class="col">{{comment.content}}</div>
                                                            <div class="col">{{comment.username}}</div>
                                                            <div class="col">{{comment.created_at}}</div>
                                                            <div class="col">
                                                                <button class="btn-primary" onclick="commentDelete('{{comment.id}}');">삭제</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <input class="input-{{reviews.id}}" type="text" placeholder="댓글 달기"/>
                                <button class="btn btn-sm btn-primary" onclick="commentWrite('{{reviews.id}}');">게시</button>
                                <hr/>
                            {% endfor %}
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="h-100 p-5 bg-dark text-white border rounded-3">
                <span class="btn button btn-sm">팔로잉: {{followingnum}}명</span>
                <button class="btn button btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                    팔로잉 목록
                </button>
                
                {% if user.id == owner.id %}
                    <button class="btn button btn-sm" onClick="location.href='{% url 'friend_search' %}'">유저 검색</button>
                {% endif %}
                <div class="collapse" id="collapseExample4">
                    <div>
                        <br>
                        {% for friend in friends %}
                            <div>
                                <li style="font-size: 20px; font-weight: bold"><a href="{% url 'mypage' friend.pk%}">{{ friend.nickname }}</a></li>
                                <br>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="h-100 p-5 bg-dark text-white border rounded-3">
                <span class="btn button btn-sm">팔로워: {{owner.follwernum}}명</span>
                <button class="btn button btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                    팔로워 목록
                </button>
                <div class="collapse" id="collapseExample5">
                    <div>
                        <br>
                        {% for follwer in follwers %}
                            <div>
                                <li style="font-size: 20px; font-weight: bold"><a href="{% url 'mypage' follwer.pk%}">{{ follwer.nickname }}</a></li>
                                
                                <br>
                            </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
// 댓글 작성
const requestWrite = new XMLHttpRequest();

const commentWrite = (review_id) => {
    const url = '/cafe/comment_write/';
    const content = document.querySelector(`.input-${review_id}`).value;
    requestWrite.open('POST', url, true);
    requestWrite.setRequestHeader(
        'Content-Type',
        'application/x-www-form-urlencoded'
    );
    requestWrite.send(JSON.stringify({review_id: review_id, content:content}));
};

const writeResponse = () => {
    if(requestWrite.status < 400) {
        const {review_id, content, comment_id} = JSON.parse(requestWrite.response);
        const comments = document.querySelector(`.comments-${review_id}`);
        const element = document.querySelector(`.input-${review_id}`);
        comments.innerHTML += `
            <div class="comment-${comment_id} container-fluid my-1">
                <div class="row">
                    <div class="col">${content}</div>
                    <div class="col">
                        <button class="btn-primary" onclick="commentDelete('${comment_id}');">삭제</button>
                    </div>
                </div<
            </div>
        `;
    }
};

requestWrite.onreadystatechange = () => {
    if(requestWrite.readyState === XMLHttpRequest.DONE) {
        writeResponse();
    }
};

//댓글 삭제
const requestDelete = new XMLHttpRequest();

const commentDelete = (comment_id) => {
    const url = '/cafe/comment_delete/';
    requestDelete.open('POST', url, true);
    requestDelete.setRequestHeader(
        'Content-Type',
        'application/x-www-form-urlencoded'
    );
    requestDelete.send(JSON.stringify({comment_id: comment_id}));
};

const deleteResponse = () => {
    if(requestDelete.status < 400) {
        const {comment_id} = JSON.parse(requestDelete.response);
        const element = document.querySelector(`.comment-${comment_id}`);
        element.remove();
    }
};

requestDelete.onreadystatechange = () => {
    if(requestDelete.readyState === XMLHttpRequest.DONE) {
        deleteResponse();
    }
};
</script>
{% endblock %}