{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/rank_list.css' %}">
{% endblock %}
{% block title %}
    랭킹리스트
{% endblock %}


{% block content %}
<div class="container">
  <section id="rank_page">
    <div class="container py-3">
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Ranking</h1>
                <p class="fs-5 text-muted">랭킹 산정 기간 : {{last_month_first}} ~ {{last_month_last}}</p>
            </div>
        </header>

        <main>
            <article class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <!-- A_총 방문 랭킹 -->
                <section class="col">
                  <div class="card mb-4 rounded-3 shadow">
                    <div class="inner">
                      <img src="../../../media/static/image/rank_coffee.jpg" class="card-img-top card-img">
                    </div>
                    <div class="card-body">
                        <h4 class="my-0 fw-normal">카페 총 방문 횟수</h4>
                        {% for user in A_users %}
                            {% if forloop.counter == 1 %}
                                <p>1등: {{ user.nickname}} 님!  [ 총 방문 횟수: {{ user.total_visit }} ] </p>
                            {% else %}
                                <p>{{forloop.counter}}등: {{ user.nickname}} 님!  [ 총 방문 횟수: {{ user.total_visit }} ] </p>
                            {% endif %}
                        {% endfor %}
                        <button type="button" class="w-100 btn btn-lg btn-outline-success">전체 랭킹 확인하러 가기</button>
                    </div>
                  </div>
                </section>

                <!-- B_한 달 방문 랭킹 -->
                <section class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                      <div class="inner">
                        <img src="../../../media/static/image/rank_coffee-beans.jpg" class="card-img-top card-img">
                      </div>
                      <div class="card-body">
                        <h4 class="my-0 fw-normal">한달 방문 랭킹</h4>
                          {% for user in B_users %}
                              {% if forloop.counter == 1 %}
                                  <p>1등: {{ user.nickname}} 님!  [ 총 방문 횟수: {{ user.visit_count_lastmonth }} ] </p>
                              {% else %}
                                  <p>{{forloop.counter}}등: {{ user.nickname}} 님!  [ 총 방문 횟수: {{ user.visit_count_lastmonth }} ] </p>
                              {% endif %}
                          {% endfor %}
                          <button type="button" class="w-100 btn btn-lg btn-outline-success">전체 랭킹 확인하러 가기</button>
                      </div>
                    </div>
                </section>

                <!-- C_한달 카페 종류 랭킹 -->
                <section class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                      <div class="inner">
                        <img src="../../../media/static/image/rank_coffee.jpg" class="card-img-top card-img">
                      </div>
                      <div class="card-body">
                        <h4 class="my-0 fw-normal">한달 카페 종류 랭킹</h4>
                        {% for key, value in C_monthly_kinds_order.items %}
                            {% if forloop.counter == 1 %}
                                <p>1등: {{ key }} 님! [ 이번 달  방문 카페 종류: {{ value }} ]</p>  
                            {% else %}
                                <p>{{ forloop.counter }}등: {{ key }} 님!  [ 이번 달  방문 카페 종류: {{ value }} ] </p>
                            {% endif %}
                        {% endfor %}
                        <button type="button" class="w-100 btn btn-lg btn-outline-success">전체 랭킹 확인하러 가기</button>
                      </div>
                    </div>
                </section>

                <!-- 누적 리뷰 개수 랭킹 -->
                <section class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                      <div class="inner">
                        <img src="../../../media/static/image/rank_coffee-beans.jpg" class="card-img-top embed-responsive-item">
                      </div>
                      <div class="card-body">
                        <h4 class="my-0 fw-normal">누적 리뷰 개수 랭킹</h4>
                        {% for user in D_all_review_order %}
                            {% if forloop.counter == 1 %}
                                <p>1등: {{ user.nickname }} 님! [ 총 리뷰 개수: {{ user.total_review }} ]</p>  
                            {% else %}
                                <p>{{ forloop.counter }}등: {{ user.nickname }} 님!  [ 총 리뷰 개수: {{ user.total_review }} ] </p>
                            {% endif %}
                        {% endfor %}
                        <button type="button" class="w-100 btn btn-lg btn-outline-success">전체 랭킹 확인하러 가기</button>
                      </div>
                    </div>
                </section>

                <!-- 한 달 리뷰 개수 랭킹 -->
                <section class="col">
                    <div class="inner">
                      <div class="embed-responsive embed-responsive-4by3">
                        <img src="../../../media/static/image/rank_coffee.jpg" class="card-img-top embed-responsive-item">
                      </div>
                        <div class="card-body">
                          <h4 class="my-0 fw-normal">한 달 리뷰 개수 랭킹</h4>
                          {% for user in E_month_review_order %}
                              {% if forloop.counter == 1 %}
                                  <p>1등: {{ user.nickname }} 님! [ 총 리뷰 개수: {{ user.review_count_lastmonth }} ]</p>  
                              {% else %}
                                  <p>{{ forloop.counter }}등: {{ user.nickname }} 님!  [ 총 리뷰 개수: {{ user.review_count_lastmonth }} ] </p>
                              {% endif %}
                          {% endfor %}
                          <button type="button" class="w-100 btn btn-lg btn-outline-success">전체 랭킹 확인하러 가기</button>
                        </div>
                    </div>
                </secti>
            </artic>
        </main>
    </div>
  </section>
</div>
{% endblock %}

