{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/rank_list.css' %}">
{% endblock %}
{% block title %}
    랭킹리스트
{% endblock %}

{% block content %}
  <section id="rank_page" class="p-4">
    <header class="pt-5">
        <div class="pricing-header p-2 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal page_title">Ranking</h1>
            <p class="fs-5 text-muted page_info">랭킹 산정 기간<br>{{last_month_first}} ~ {{last_month_last}}</p>
        </div>
    </header>

    <div class="container px-5">
      <article class="row row-cols-lg-2 row-cols-md-1 row-cols-sm-1 mb-3 text-center">

      <!----- A_총 방문 랭킹 ----->
      <section class="col">
        <div class="card rounded-5 shadow mx-2 my-3">
          <div class="row g-0">
            <div class="col-md-8">
              <img src="../../../media/static/image/rank_coffee.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-4">
              <div class="card-body">
                <div class="card-img-overlay card_title col-md-8" style="height: 50px;">
                  <span class="ranking_title_back"></span>
                  <span class="ranking_title">전체 카페 방문 랭킹</span>
                </div>
                <div>
                  {% if A_my_grade == 1 %}
                    <i class="my-2 fas fa-medal gold_medal"></i>
                  {% elif A_my_grade == 2 %}
                    <i class="my-2 fas fa-medal silver_medal"></i>
                  {% elif A_my_grade == 3 %}
                    <i class="my-2 fas fa-medal bronze_medal"></i>
                  {% else %}
                    <i class="my-2 fas fa-coffee other_medal"></i>
                  {% endif%}

                  <div class="card-text card_info my-3">
                    현재 {{ request.user.nickname }}님은<br>
                    {% if A_my_grade == 0 %}
                      아직 방문한 카페가 없어요!
                    {% else %}
                      🌟{{ A_my_grade }}등🌟 입니다!
                    {% endif%}
                  </div>
                  
                  <!-- A_Button trigger modal -->
                  <button class="button" data-bs-toggle="modal" data-bs-target="#A_Modal">
                    전체 랭킹
                  </button>
                  <!-- A_Modal -->
                  <div class="modal fade" id="A_Modal" tabindex="-1" aria-labelledby="A_ModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="A_ModalLabel">카페 총 방문 횟수</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        {% for user in A_users %}
                          {% if forloop.counter == 1 %}
                              <p>1등: {{ user.nickname}} 님!  [ 총 방문 횟수: {{ user.total_visit }} ] </p>
                          {% else %}
                              <p>{{forloop.counter}}등: {{ user.nickname}} 님!  [ 총 방문 횟수: {{ user.total_visit }} ] </p>
                          {% endif %}
                        {% endfor %}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!----- B_한 달 방문 랭킹 ----->
      <section class="col">
        <div class="card rounded-5 shadow mx-2 my-3">
          <div class="row g-0">
            <div class="col-md-8">
              <img src="../../../media/static/image/rank_coffee-beans.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-4">
              <div class="card-body">
                <div class="card-img-overlay card_title col-md-8" style="height: 50px;">
                  <span class="ranking_title_back"></span>
                  <span class="ranking_title">8월! 카페 방문 랭킹</span>
                </div>
                <div>
                  {% if B_my_grade == 1 %}
                    <i class="my-2 fas fa-medal gold_medal"></i>
                  {% elif B_my_grade == 2 %}
                    <i class="my-2 fas fa-medal silver_medal"></i>
                  {% elif B_my_grade == 3 %}
                    <i class="my-2 fas fa-medal bronze_medal"></i>
                  {% else %}
                    <i class="my-2 fas fa-coffee other_medal"></i>
                  {% endif%}

                  <div class="card-text card_info my-3">
                    현재 {{ request.user.nickname }}님은<br>
                    {% if B_my_grade == 0 %}
                      이번 달에 방문한 카페가 없어요!
                    {% else %}
                      🌟{{ B_my_grade }}등🌟 입니다!
                    {% endif%}
                  </div>
                  
                  <!-- B_Button trigger modal -->
                  <button class="button" data-bs-toggle="modal" data-bs-target="#B_Modal">
                    전체 랭킹
                  </button>
                  <!-- B_Modal -->
                  <div class="modal fade" id="B_Modal" tabindex="-1" aria-labelledby="B_ModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="B_ModalLabel">8월 카페 총 방문 횟수</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          {% for user in B_users %}
                            {% if forloop.counter == 1 %}
                                <p>1등: {{ user.nickname}} 님!  [ 총 방문 횟수: {{ user.visit_count_lastmonth }} ] </p>
                            {% else %}
                                <p>{{forloop.counter}}등: {{ user.nickname}} 님!  [ 총 방문 횟수: {{ user.visit_count_lastmonth }} ] </p>
                            {% endif %}
                          {% endfor %}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!----- C_한달 카페 종류 랭킹 ----->
      <section class="col">
        <div class="card rounded-5 shadow mx-2 my-3">
          <div class="row g-0">
            <div class="col-md-8">
              <img src="../../../media/static/image/rank_coffee-beans.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-4">
              <div class="card-body">
                <div class="card-img-overlay card_title col-md-8" style="height: 50px;">
                  <span class="ranking_title_back"></span>
                  <span class="ranking_title">방문 카페 종류 랭킹</span>
                </div>
                <div>
                  {% if C_my_grade == 1 %}
                    <i class="my-2 fas fa-medal gold_medal"></i>
                  {% elif C_my_grade == 2 %}
                    <i class="my-2 fas fa-medal silver_medal"></i>
                  {% elif C_my_grade == 3 %}
                    <i class="my-2 fas fa-medal bronze_medal"></i>
                  {% else %}
                    <i class="my-2 fas fa-coffee other_medal"></i>
                  {% endif%}

                  <div class="card-text card_info my-3">현재 {{ request.user.nickname }}님은<br>🌟{{ C_my_grade }}등🌟 입니다!</div>
                  
                  <!-- C_Button trigger modal -->
                  <button class="button" data-bs-toggle="modal" data-bs-target="#C_Modal">
                    전체 랭킹
                  </button>
                  <!-- C_Modal -->
                  <div class="modal fade" id="C_Modal" tabindex="-1" aria-labelledby="C_ModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="C_ModalLabel">8월 방문한 카페 가짓수</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          {% for key, value in C_monthly_kinds_order.items %}
                            {% if forloop.counter == 1 %}
                                <p>1등: {{ key }} 님! [ 이번 달  방문 카페 종류: {{ value }} ]</p>  
                            {% else %}
                                <p>{{ forloop.counter }}등: {{ key }} 님!  [ 이번 달  방문 카페 종류: {{ value }} ] </p>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!----- D_누적 리뷰 개수 랭킹 ----->
      <section class="col">
        <div class="card rounded-5 shadow mx-2 my-3">
          <div class="row g-0">
            <div class="col-md-8">
              <img src="../../../media/static/image/rank_coffee-beans.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-4">
              <div class="card-body">
                <div class="card-img-overlay card_title col-md-8" style="height: 50px;">
                  <span class="ranking_title_back"></span>
                  <span class="ranking_title">전체 리뷰 개수 랭킹</span>
                </div>
                <div>
                  {% if D_my_grade == 1 %}
                    <i class="my-2 fas fa-medal gold_medal"></i>
                  {% elif D_my_grade == 2 %}
                    <i class="my-2 fas fa-medal silver_medal"></i>
                  {% elif D_my_grade == 3 %}
                    <i class="my-2 fas fa-medal bronze_medal"></i>
                  {% else %}
                    <i class="my-2 fas fa-coffee other_medal"></i>
                  {% endif%}

                  <div class="card-text card_info my-3">현재 {{ request.user.nickname }}님은<br>🌟{{ D_my_grade }}등🌟 입니다!</div>
                  
                  <!-- D_Button trigger modal -->
                  <button class="button" data-bs-toggle="modal" data-bs-target="#D_Modal">
                    전체 랭킹
                  </button>
                  <!-- D_Modal -->
                  <div class="modal fade" id="D_Modal" tabindex="-1" aria-labelledby="D_ModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="D_ModalLabel">전체 리뷰 개수</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          {% for user in D_all_review_order %}
                            {% if forloop.counter == 1 %}
                                <p>1등: {{ user.nickname }} 님! [ 총 리뷰 개수: {{ user.total_review }} ]</p>  
                            {% else %}
                                <p>{{ forloop.counter }}등: {{ user.nickname }} 님!  [ 총 리뷰 개수: {{ user.total_review }} ] </p>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!----- E_한 달 리뷰 개수 랭킹 ----->
      <section class="col">
        <div class="card rounded-5 shadow mx-2 my-3">
          <div class="row g-0">
            <div class="col-md-8">
              <img src="../../../media/static/image/rank_coffee-beans.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-4">
              <div class="card-body">
                <div class="card-img-overlay card_title col-md-8" style="height: 50px;">
                  <span class="ranking_title_back"></span>
                  <span class="ranking_title">8월 리뷰 개수 랭킹</span>
                </div>
                <div>
                  {% if E_my_grade == 1 %}
                    <i class="my-2 fas fa-medal gold_medal"></i>
                  {% elif E_my_grade == 2 %}
                    <i class="my-2 fas fa-medal silver_medal"></i>
                  {% elif E_my_grade == 3 %}
                    <i class="my-2 fas fa-medal bronze_medal"></i>
                  {% else %}
                    <i class="my-2 fas fa-coffee other_medal"></i>
                  {% endif%}

                  <div class="card-text card_info my-3">8월! {{ request.user.nickname }}님은<br>🌟{{ E_my_grade }}등🌟 입니다!</div>
                  
                  <!-- E_Button trigger modal -->
                  <button class="button" data-bs-toggle="modal" data-bs-target="#E_Modal">
                    전체 랭킹
                  </button>
                  <!-- E_Modal -->
                  <div class="modal fade" id="E_Modal" tabindex="-1" aria-labelledby="E_ModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="E_ModalLabel">8월 리뷰 개수</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          {% for user in E_month_review_order %}
                            {% if forloop.counter == 1 %}
                                <p>1등: {{ user.nickname }} 님! [ 총 리뷰 개수: {{ user.review_count_lastmonth }} ]</p>  
                            {% else %}
                                <p>{{ forloop.counter }}등: {{ user.nickname }} 님!  [ 총 리뷰 개수: {{ user.review_count_lastmonth }} ] </p>
                            {% endif %}
                          {% endfor %}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      </article>
    </div>
  </section>
{% endblock %}

