{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ nickname }}님의 카페 지도
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cafe_map.css' %}">
{% endblock %}
{% block content %}
    <div class="cafe_map-container">
        <div id="keyword-search">
            <div class="bg-search-area search d-flex flex-column justify-content-center align-items-center">
                <div>
                    <span class="fs-5">원하는 카페를 검색해보세요!</span>
                </div>
                <form id="searchForm" name="searchForm" onsubmit="return false;">
                    <input type="text" value="" placeholder="키워드 입력" id="keyword" onkeyup="enterkey();">
                    <button id="search-cafe">검색</button> 
                </form>
            </div>
            <ul id="placesList">
            </ul>
        </div>
        <div id="map"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fcbe48a94474ef23703951ea76b61e90&libraries=services"></script>
    <script  type="text/javascript">
    // 방문한 카페 리스트
    let cafeList = {{ visited_cafe_list | safe }};
    // 가장 많이 방문한 카페의 pk값
    let mainCafePk = {{ main_cafe | safe }};
    // 모든 카페 리스트
    let allPlaces = {{ cafe_list | safe }};
    // 2차원 배열로 [0]에는 카페의 정보, [1]에는 카페 방문 횟수가 들어감
    let userCafeList = [];
    // 가장 많이 방문한 카페
    let mainCafe;

    // TODO: 최적화 작업 필요
    // userCafeList에 원하는 정보들 삽입
    // 지도 중심에 가장 많이 방문한 카페가 나오도록 설정
    for(var i = 0; i < allPlaces.length; i++) {
        for(var j = 0; j < cafeList.length; j++) {
            if(allPlaces[i].pk === cafeList[j].fields.cafe) {
                userCafeList.push([allPlaces[i], cafeList[j].fields.visit_count]);
                if(cafeList[j].pk === mainCafePk) {
                    mainCafe = allPlaces[i];
                }
            }
        }
    }

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(mainCafe.fields.location_y, mainCafe.fields.location_x), // 지도의 중심좌표
            level: 2 // 지도의 확대 레벨
        };
    
    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도 생성

    var imageSrc = "https://image.flaticon.com/icons/png/512/3127/3127450.png", // 마커이미지의 주소    
        imageOption = {offset: new kakao.maps.Point(8, 16)};

    // 현재 지도에 보이는 장소들의 정보를 저장하기 위한 배열
    let places = [];
    // marker 객체를 저장하기 위한 배열
    let markers = [];
    // 지도 영역정보
    var bounds = map.getBounds();
    // 영역정보의 남서쪽 정보
    var swLatlng = bounds.getSouthWest();
    // 영역정보의 북동쪽 정보
    var neLatlng = bounds.getNorthEast();

    markData(markers, userCafeList, swLatlng, neLatlng);

    // 마커를 클릭하면 장소명을 표출할 인포윈도우
    var infowindow = new kakao.maps.InfoWindow({zIndex:1, removable : true});
    // 검색 목록을 hover하면 장소명을 표출할 인포윈도우
    var infowindow_search = new kakao.maps.InfoWindow({zIndex:0}); 

    // 지도가 움직일 때 발생하는 이벤트
    // 지도가 움직일때마다 map의 정보들을 초기화
    kakao.maps.event.addListener(map, 'bounds_changed', function() {             
        // 지도 영역정보
        bounds = map.getBounds();
        // 영역정보의 남서쪽 정보
        swLatlng = bounds.getSouthWest();
        // 영역정보의 북동쪽 정보
        neLatlng = bounds.getNorthEast();
        //지도 확대 제어
        if(neLatlng.Ma-swLatlng.Ma >= 0.0082) {
            map.setLevel(4);
        }

        // marker 초기화
        removeMarker();
        // places 초기화
        places = [];
        // 마커 데이터 추가
        markData(markers, userCafeList, swLatlng, neLatlng);
    });

    // 카페들을 지도에 마킹하는 함수
    function markData(markers, userCafeList, sw, ne) {
        // TODO: 이진탐색
        // let left_bound=0, right_bound=0;
        // let middle=0, low=0, high=userCafeList.length-1;
        // let find=false;

        // while(low<high)
        // {
        //     middle=Math.floor((low+high)/2);
        //     if(userCafeList[middle].fields.location_x<sw.La) 
        //     {
        //         low=middle+1;
        //     }
        //     else if(userCafeList[middle].fields.location_x>sw.La) high=middle-1;
        //     else{
        //         left_bound = middle;
        //         find=true;
        //         break;
        //     }
        // }
        // if(!find) left_bound=high;

        // middle=0, low=0, high=userCafeList.length-1;
        // find=false;
        // while(low<high)
        // {
        //     middle=Math.floor((low+high)/2);
        //     if(userCafeList[middle].fields.location_x<ne.La) low=middle+1;
        //     else if(userCafeList[middle].fields.location_x>ne.La) high=middle-1;
        //     else{
        //         right_bound = middle;
        //         find=true;
        //         break;
        //     }
        // }
        // if(!find) right_bound=low;
        // for(var i=left_bound; i <=right_bound; i++) {
        //     console.log(i);
        //     if(userCafeList[i].fields.location_y < ne.Ma && userCafeList[i].fields.location_y > sw.Ma){
        //         addMarker(markers, userCafeList[i], cafeList);
        //         places.push(userCafeList[i]);
        //     }
        // }
        for(var i=0; i < userCafeList.length; i++) {
            if(userCafeList[i][0].fields.location_x < ne.La && userCafeList[i][0].fields.location_x > sw.La && userCafeList[i][0].fields.location_y < ne.Ma && userCafeList[i][0].fields.location_y > sw.Ma) {
                addMarker(markers, userCafeList[i], cafeList);
                places.push(userCafeList[i]);
            }
        }
    }

    // 마커를 생성하고 지도위에 표시하는 함수
    function addMarker(markers, place, cafeList) {
        let iconSize;
        // 현재 지도에 찍힌 cafeList 원소들만 필터링
        for(var i = 0; i < cafeList.length; i++) {
            if(place[0].pk === cafeList[i].fields.cafe) {
                iconSize = cafeList[i].fields.visit_count;
                if(iconSize >= 10) {
                    iconSize = 10;
                }
            }
        }
        // 마커 아이콘 크기 조정
        var imageSize = new kakao.maps.Size(16 + iconSize * 3, 16 + iconSize * 3);

        // 마커 생성
        var marker = new kakao.maps.Marker({
            map: map,
            title: place[0].fields.name,
            position: new kakao.maps.LatLng(place[0].fields.location_y, place[0].fields.location_x),
            image : new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
        });

        // 마커를 배열에 추가
        markers.push(marker);

        // 마커에 클릭이벤트 등록
        kakao.maps.event.addListener(marker, 'click', function() {
            // 마커를 클릭하면 장소명이 인포윈도우에 표출
            infowindow.setContent(`
                <div class="d-flex flex-column align-items-center" style="width: 150px; height: 80px;">
                    <div class="fw-bold" style="padding:5px;font-size:12px;">${place[0].fields.name}</div>
                    <div style="padding:5px;font-size:10px;">${place[0].fields.address}</div>
                    <div style="padding:5px;font-size:10px;">
                        <a href="../cafe/review_list/${place[0].pk}">리뷰 보기</a>
                        <a href="../cafe/review_create/${place[0].pk}">리뷰 작성</a>
                    </div>
                </div>
            `);
            infowindow.open(map, marker);
        });
    }

    // markers에 있는 마커를 모두 제거하는 함수
    function removeMarker() {
        for ( var i = 0; i < markers.length; i++ ) {
            markers[i].setMap(null);
        }   
        markers = [];
    }

    //카페 키워드 검색 이벤트
    $(document).ready(function(){
        $("#search-cafe").click(function(){

            let placeslist = "#placesList";

            // html의 id가 keyword인 태그 안에 들어있는 값을 들고옴
            var keyword = $('#keyword').val();

            // 빈 값을 넘겼을 때 에러 설정
            if (!keyword.replace(/^\s+|\s+$/g, '')) {
                alert('키워드를 입력해주세요!!!!!!');
                return false;
            }

            // keywordMarkers 배열 초기화
            let keywordMarkers = [];
            // keywordPlaces 배열 초기화
            let keywordPlaces = [];
            // keyword 필터링
            checkKeyword(keyword, markers, keywordMarkers, places, keywordPlaces);

            // 마커와 검색결과 항목에 mouseover 했을때 해당 장소의 인포윈도우에 장소명 표시
            // mouseout 했을 때는 인포윈도우 닫음
            var listEl = document.getElementById('placesList'),
            fragment = document.createDocumentFragment(),
            listStr = '';

            // 검색 결과 목록에 추가된 항목들을 제거
            removeAllChildNods(listEl);

            for(var i = 0; i < keywordMarkers.length; i++) {
                var itemEl = getListItem(i, keywordPlaces[i]);
                (function(marker, place) {
                    itemEl.onmouseover =  function () {
                        displayInfowindow(marker, place[0].fields.name);
                    };

                    itemEl.onmouseout =  function () {
                        infowindow_search.close();
                    };

                    itemEl.onclick = function () {
                        infowindow_search.close();
                        infowindow.setContent(`
                            <div class="d-flex flex-column align-items-center" style="width: 150px; height: 80px;">
                                <div class="fw-bold" style="padding:5px;font-size:12px;">${place[0].fields.name}</div>
                                <div style="padding:5px;font-size:10px;">${place[0].fields.address}</div>
                                <div style="padding:5px;font-size:10px;">
                                    <a href="../cafe/review_list/${place[0].pk}">리뷰 보기</a>
                                </div>
                            </div>
                        `);
                        infowindow.open(map, marker);
                    };
                })(keywordMarkers[i], keywordPlaces[i]);

                fragment.appendChild(itemEl);
            }
            // 검색결과 항목들을 검색결과 목록 Elemnet에 추가
            listEl.appendChild(fragment);
        });
    });
    function enterkey(){ 
        if(window.event.keyCode == 13){
            let placeslist = "#placesList";

            // html의 id가 keyword인 태그 안에 들어있는 값을 들고옴
            var keyword = $('#keyword').val();

            // 빈 값을 넘겼을 때 에러 설정
            if (!keyword.replace(/^\s+|\s+$/g, '')) {
                alert('키워드를 입력해주세요!!!!!!');
                return false;
            }

            // keywordMarkers 배열 초기화
            let keywordMarkers = [];
            // keywordPlaces 배열 초기화
            let keywordPlaces = [];
            // keyword 필터링
            checkKeyword(keyword, markers, keywordMarkers, places, keywordPlaces);
            console.log(keywordPlaces);

            // 마커와 검색결과 항목에 mouseover 했을때 해당 장소의 인포윈도우에 장소명 표시
            // mouseout 했을 때는 인포윈도우 닫음
            var listEl = document.getElementById('placesList'),
            fragment = document.createDocumentFragment(),
            listStr = '';

            // 검색 결과 목록에 추가된 항목들을 제거
            removeAllChildNods(listEl);

            for(var i = 0; i < keywordMarkers.length; i++) {
                var itemEl = getListItem(i, keywordPlaces[i]);
                (function(marker, place) {
                    itemEl.onmouseover =  function () {
                        displayInfowindow(marker, place[0].fields.name);
                    };

                    itemEl.onmouseout =  function () {
                        infowindow_search.close();
                    };

                    itemEl.onclick = function () {
                        infowindow_search.close();
                        infowindow.setContent(`
                            <div class="d-flex flex-column align-items-center" style="width: 150px; height: 80px;">
                                <div class="fw-bold" style="padding:5px;font-size:12px;">${place[0].fields.name}</div>
                                <div style="padding:5px;font-size:10px;">${place[0].fields.address}</div>
                                <div style="padding:5px;font-size:10px;">
                                    <a href="../cafe/review_list/${place[0].pk}">리뷰 보기</a>
                                </div>
                            </div>
                        `);
                        infowindow.open(map, marker);
                    };
                })(keywordMarkers[i], keywordPlaces[i]);

                fragment.appendChild(itemEl);
            }
            // 검색결과 항목들을 검색결과 목록 Elemnet에 추가
            listEl.appendChild(fragment);
        }
    }

    // keyword를 포함한 카페만 보여주는 함수
    function checkKeyword(keyword, markers, keywordMarkers, places, keywordPlaces) {
        for(var i=0; i < markers.length; i++) {
            // keyword를 포함한 카페가 있는 경우에 keywordMarkers 배열에 해당 카페 객체를 추가
            if(markers[i].Fb.includes(keyword)) {
                // 검색된 카페를 지도에 보이기 위한 함수
                markers[i].setVisible(true);
                // keywordMarkers에 keyword를 포함한 마커 추가
                keywordMarkers.push(markers[i]);
                // keywordPlaces에 장소 정보 추가
                keywordPlaces.push(places[i]);
            }
            else {
                // 검색되지 않은 카페를 지도에서 안보이도록 설정
                markers[i].setVisible(false);
            }
        }
    }

    // 검색결과 항목을 Element로 반환하는 함수
    function getListItem(index, keywordPlace) {
        var el = document.createElement('li'),
        itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                    '<div class="info">' +
                    '   <h5 style="margin: 0px; padding-left: 10px;">' + keywordPlace[0].fields.name + '</h5>' +
                    '   <h6 style="color: gray; margin: 0px; padding-left: 10px;"> 방문 횟수 : ' + keywordPlace[1] + ' </h6>'
                    '</div>';         

        el.innerHTML = itemStr;
        el.className = 'item';

        return el;
    }

    // 검색결과 목록을 클릭했을 때 호출되는 함수
    // 인포윈도우에 장소명 표시
    function displayInfowindow(marker, title) {
        var content = '<div style="padding:5px;z-index:0;">' + title + '</div>';

        infowindow_search.setContent(content);
        infowindow_search.open(map, marker);
    }

    // 검색결과 목록의 자식 Element를 제거하는 함수
    function removeAllChildNods(el) {   
        while (el.hasChildNodes()) {
            el.removeChild (el.lastChild);
        }
    }
    </script>
{% endblock %}