{% extends 'base.html' %}
{% load static %}
{% block title %}
    카페 지도
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cafe_map.css' %}">
{% endblock %}

{% block content %}
    <div class="cafe_map-container">
        <div id="keyword-search">
            <div class="bg-search-area search d-flex flex-column justify-content-center align-items-center">
                <div class="py-1">
                    <span class="fs-6">지도에 <b>보이는 영역</b>의 카페만 검색됩니다!</span>
                </div>
                <form id="searchForm" name="searchForm" onsubmit="return false;">
                    <input type="text" value="" placeholder="키워드 입력" id="keyword" onkeyup="enterkey();"> 
                    <button id="search-cafe">검색</button> 
                </form>
            </div>
            <ul id="placesList">
            </ul>
        </div>
        <div id="map" style="width:100%; height:100%; position:relative; overflow:hidden;"></div>
        {% if user.total_visit == 0 %}
        <a class="mycafe-btn" href="{% url 'cafe:cafe_list' %}" onClick="return confirm('방문했던 카페등록이 하나이상 필요한 페이지입니다. 지금 바로 첫번째 카페를 방문추가 하시겠습니까?');">나의 카페 지도</a>
        {% else %}
        <button class="mycafe-btn" onClick="location.href='{% url 'user_cafe_map' %}'">나의 카페 지도</button>
        {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=fcbe48a94474ef23703951ea76b61e90&libraries=services"></script>
    <script  type="text/javascript"> 
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(37.5642135, 127.0016985), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };
    
    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도 생성

    var imageSrc = "https://image.flaticon.com/icons/png/512/1013/1013076.png", // 마커이미지의 주소    
        imageOption = {offset: new kakao.maps.Point(8, 16)};
    
    // 카페 목록들을 json 형식으로 받아옴
    var cafeList =  {{ data | safe }};
    // 현재 지도에 보이는 장소들의 정보를 저장하기 위한 배열
    let places = [];
    // marker 객체를 저장하기 위한 배열
    let markers = [];
    // 지도 영역정보
    var bounds = map.getBounds();
    // 영역정보의 남서쪽 정보
    var swLatlng = bounds.getSouthWest();
    // 영역정보의 북동쪽 정보
    var neLatlng = bounds.getNorthEast();

    markData(markers, cafeList, swLatlng, neLatlng);

    // 마커를 클릭하면 장소명을 표출할 인포윈도우
    var overlay = new kakao.maps.CustomOverlay({zIndex:1});
    // 검색 목록을 hover하면 장소명을 표출할 인포윈도우
    var overlay_search = new kakao.maps.CustomOverlay({zIndex:0}); 

    // 지도가 움직일 때 발생하는 이벤트
    // 지도가 움직일때마다 map의 정보들을 초기화
    kakao.maps.event.addListener(map, 'bounds_changed', function() {            
        // 지도 영역정보
        bounds = map.getBounds();
        // 영역정보의 남서쪽 정보
        swLatlng = bounds.getSouthWest();
        // 영역정보의 북동쪽 정보
        neLatlng = bounds.getNorthEast();
        //지도 확대 제어
        if(neLatlng.Ma-swLatlng.Ma >= 0.0082) {
            map.setLevel(4);
        }

        // marker 초기화
        removeMarker();
        // places 초기화
        places = [];
        // 마커 데이터 추가
        markData(markers, cafeList, swLatlng, neLatlng);
    });

    // 카페들을 지도에 마킹하는 함수
    function markData(markers, cafeList, sw, ne) {
        let left_bound=0, right_bound=0;
        let middle=0, low=0, high=cafeList.length-1;
        let find=false;

        while(low<high)
        {
            middle=Math.floor((low+high)/2);
            if(cafeList[middle].fields.location_x<sw.La) 
            {
                low=middle+1;
            }
            else if(cafeList[middle].fields.location_x>sw.La) high=middle-1;
            else{
                left_bound = middle;
                find=true;
                break;
            }
        }
        if(!find) left_bound=high;

        middle=0, low=0, high=cafeList.length-1;
        find=false;
        while(low<high)
        {
            middle=Math.floor((low+high)/2);
            if(cafeList[middle].fields.location_x<ne.La) low=middle+1;
            else if(cafeList[middle].fields.location_x>ne.La) high=middle-1;
            else{
                right_bound = middle;
                find=true;
                break;
            }
        }
        if(!find) right_bound=low;

        for(var i=left_bound; i <=right_bound; i++) {
            if(cafeList[i].fields.location_y <ne.Ma && cafeList[i].fields.location_y > sw.Ma){
                addMarker(markers, cafeList[i]);
                places.push(cafeList[i]);
            }
        }
    }

    // 마커를 생성하고 지도위에 표시하는 함수
    function addMarker(markers, place) {
        // 마커 아이콘 크기 조정
        var imageSize = new kakao.maps.Size(24, 24);

        // 마커 생성
        var marker = new kakao.maps.Marker({
            map: map,
            title: place.fields.name,
            position: new kakao.maps.LatLng(place.fields.location_y, place.fields.location_x),
            image : new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
        });

        // 마커를 배열에 추가
        markers.push(marker);

        // 마커에 클릭이벤트 등록
        kakao.maps.event.addListener(marker, 'click', function() {
            // 마커를 클릭하면 장소명이 인포윈도우에 표출
            overlay.setContent(`
                <div class="hover-overlay-click">
                    <div class="infos d-flex flex-column">
                        <div class="fw-bold overlay-cafe-name">${place.fields.name}</div>
                        <div class="overlay-cafe-address">${place.fields.address}</div>
                        <div class="overlay-buttons">
                            <button class="overlay-btn" onClick="location.href='../review_list/${place.pk}'">리뷰 보기</button>
                            <button class="overlay-btn" onClick="location.href='../enroll_cafe_from_map/${place.pk}?next={{request.path}}'">방문 추가</button>
                        </div>
                    </div>
                </div>
            `);
            overlay.setPosition(new kakao.maps.LatLng(place.fields.location_y, place.fields.location_x));
            overlay.setMap(map);
        });
    }

    // markers에 있는 마커를 모두 제거하는 함수
    function removeMarker() {
        for ( var i = 0; i < markers.length; i++ ) {
            markers[i].setMap(null);
        }   
        markers = [];
    }

    // keyword를 포함한 카페만 보여주는 함수
    function checkKeyword(keyword, markers, keywordMarkers, places, keywordPlaces) {
        for(var i=0; i < markers.length; i++) {
            // keyword를 포함한 카페가 있는 경우에 keywordMarkers 배열에 해당 카페 객체를 추가
            if(markers[i].Fb.includes(keyword)) {
                // 검색된 카페를 지도에 보이기 위한 함수
                markers[i].setVisible(true);
                // keywordMarkers에 keyword를 포함한 마커 추가
                keywordMarkers.push(markers[i]);
                // keywordPlaces에 장소 정보 추가
                keywordPlaces.push(places[i]);
            }
            else {
                // 검색되지 않은 카페를 지도에서 안보이도록 설정
                markers[i].setVisible(false);
            }
        }
    }

    //카페 키워드 검색 이벤트
    // TODO: 밑의 enterkey()와 합쳐야함
    $(document).ready(function(){
        $("#search-cafe").click(function(){
            let placeslist = "#placesList";
            // html의 id가 keyword인 태그 안에 들어있는 값을 들고옴
            var keyword = $('#keyword').val();

            // 빈 값을 넘겼을 때 에러 설정
            if (!keyword.replace(/^\s+|\s+$/g, '')) {
                alert('키워드를 입력해주세요!!!!!!');
                return false;
            }

            // keywordMarkers 배열 초기화
            let keywordMarkers = [];
            // keywordPlaces 배열 초기화
            let keywordPlaces = [];
            // keyword 필터링
            checkKeyword(keyword, markers, keywordMarkers, places, keywordPlaces);

            // 마커와 검색결과 항목에 mouseover 했을때 해당 장소의 인포윈도우에 장소명 표시
            // mouseout 했을 때는 인포윈도우 닫음
            var listEl = document.getElementById('placesList'),
            fragment = document.createDocumentFragment(),
            listStr = '';

            // 검색 결과 목록에 추가된 항목들을 제거
            removeAllChildNods(listEl);

            for(var i = 0; i < keywordMarkers.length; i++) {
                var itemEl = getListItem(i, keywordPlaces[i]);
                (function(marker, place) {
                    itemEl.onmouseover =  function () {
                        displayOverlay(place.fields);
                    };

                    itemEl.onmouseout =  function () {
                        overlay_search.setMap(null);
                    };

                    itemEl.onclick = function () {
                        overlay_search.setMap(null);
                        overlay.setContent(`
                            <div class="hover-overlay-click">
                                <div class="infos d-flex flex-column">
                                    <div class="fw-bold overlay-cafe-name">${place.fields.name}</div>
                                    <div class="overlay-cafe-address">${place.fields.address}</div>
                                    <div class="overlay-buttons">
                                        <button class="overlay-btn" onClick="location.href='../review_list/${place.pk}'">리뷰 보기</button>
                                        <button class="overlay-btn" onClick="location.href='../enroll_cafe_from_map/${place.pk}'">방문 추가</button>
                                    </div>
                                </div>
                            </div>
                        `);
                        overlay.setPosition(new kakao.maps.LatLng(place.fields.location_y, place.fields.location_x));
                        overlay.setMap(map);
                    };
                })(keywordMarkers[i], keywordPlaces[i]);

                fragment.appendChild(itemEl);
            }
            // 검색결과 항목들을 검색결과 목록 Elemnet에 추가
            listEl.appendChild(fragment);
        });
    });
    function enterkey(){ 
        if(window.event.keyCode == 13){
            let placeslist = "#placesList";

            // html의 id가 keyword인 태그 안에 들어있는 값을 들고옴
            var keyword = $('#keyword').val();

            // 빈 값을 넘겼을 때 에러 설정
            if (!keyword.replace(/^\s+|\s+$/g, '')) {
                alert('키워드를 입력해주세요!!!!!!');
                return false;
            }

            // keywordMarkers 배열 초기화
            let keywordMarkers = [];
            // keywordPlaces 배열 초기화
            let keywordPlaces = [];
            // keyword 필터링
            checkKeyword(keyword, markers, keywordMarkers, places, keywordPlaces);
            console.log(keywordPlaces);

            // 마커와 검색결과 항목에 mouseover 했을때 해당 장소의 인포윈도우에 장소명 표시
            // mouseout 했을 때는 인포윈도우 닫음
            var listEl = document.getElementById('placesList'),
            fragment = document.createDocumentFragment(),
            listStr = '';

            // 검색 결과 목록에 추가된 항목들을 제거
            removeAllChildNods(listEl);

            for(var i = 0; i < keywordMarkers.length; i++) {
                var itemEl = getListItem(i, keywordPlaces[i]);
                (function(marker, place) {
                    itemEl.onmouseover =  function () {
                        displayOverlay(place.fields);
                    };

                    itemEl.onmouseout =  function () {
                        overlay_search.setMap(null);
                    };

                    itemEl.onclick = function () {
                        overlay_search.setMap(null);
                        overlay.setContent(`
                            <div class="hover-overlay-click">
                                <div class="infos d-flex flex-column">
                                    <div class="fw-bold overlay-cafe-name">${place.fields.name}</div>
                                    <div class="overlay-cafe-address">${place.fields.address}</div>
                                    <div class="overlay-buttons">
                                        <button class="overlay-btn" onClick="location.href='../review_list/${place.pk}'">리뷰 보기</button>
                                        <button class="overlay-btn" onClick="location.href='../enroll_cafe_from_map/${place.pk}'">방문 추가</button>
                                    </div>
                                </div>
                            </div>
                        `);
                        overlay.setPosition(new kakao.maps.LatLng(place.fields.location_y, place.fields.location_x));
                        overlay.setMap(map);
                    };
                })(keywordMarkers[i], keywordPlaces[i]);

                fragment.appendChild(itemEl);
            }
            // 검색결과 항목들을 검색결과 목록 Elemnet에 추가
            listEl.appendChild(fragment);
        }
    }

    // 검색결과 항목을 Element로 반환하는 함수
    function getListItem(index, keywordPlace) {
        var el = document.createElement('li'),
        itemStr = `
            <span class="markerbg marker_$(index+1)"></span>
            <div class="info d-flex flex-column">
                <div style="font-size:18px; font-weight:bold;">
                    <span class="placename">${keywordPlace.fields.name}</span>
                </div>
                <div style="font-size:13px; color:gray;">
                    <span>${keywordPlace.fields.address}</span>
                </div>
            </div>
        `;         

        el.innerHTML = itemStr;
        el.className = 'item';

        return el;
    }

    // 검색결과 목록을 클릭했을 때 호출되는 함수
    // 인포윈도우에 장소명 표시
    function displayOverlay(fields) {
        var content = `
            <div class="hover-overlay">
                <div class="info">
                    <span>${fields.name}</span>
                </div>
            </div>
        `;
        overlay_search.setPosition(new kakao.maps.LatLng(fields.location_y, fields.location_x));
        overlay_search.setContent(content);
        overlay_search.setMap(map);
    }

    // 검색결과 목록의 자식 Element를 제거하는 함수
    function removeAllChildNods(el) {   
        while (el.hasChildNodes()) {
            el.removeChild (el.lastChild);
        }
    }

    // HTML5의 geolocation으로 사용할 수 있는지 확인
    if (navigator.geolocation) {
        // GeoLocation을 이용해서 접속 위치 얻어오기
        navigator.geolocation.getCurrentPosition(function(position) {
            var lat = position.coords.latitude, // 위도
                lon = position.coords.longitude; // 경도

            var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 현재 위치로 설정
                message = '<div style="padding:5px;">현재 위치</div>'; // 인포윈도우에 표시될 내용
            
            // 마커와 인포윈도우를 표시
            displayMarker(locPosition, message);
        });
        
    }
    
    else { // 에러메시지 설정
        alert('현재 위치를 받아올 수 없어요. 임의의 위치로 설정합니다.')
        var locPosition = new kakao.maps.LatLng(37.540, 126.940),    
            message = 'geolocation을 사용할수 없어요..'
        // 개발자가 설정한 위치에 마커 생성
        displayMarker(locPosition, message);
    }

    // 지도에 마커와 인포윈도우를 표시하는 함수
    function displayMarker(locPosition, message) {
        // 현재 위치 마커 생성
        var marker_here = new kakao.maps.Marker({  
            map: map, 
            position: locPosition
        }); 
        
        var iwContent = message, // 인포윈도우에 표시할 내용
            iwRemoveable = true;

        // 인포윈도우를 생성
        var infowindow_here = new kakao.maps.InfoWindow({
            content : iwContent,
            removable : iwRemoveable
        });
        
        // 인포윈도우를 마커위에 표시
        infowindow_here.open(map, marker_here);
        
        // 지도 중심좌표를 접속위치로 변경
        map.setCenter(locPosition);      
    }    
    </script>
{% endblock %}