{% extends 'base.html' %}
{% load static %}

{% block css%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/review_list.css' %}">
{% endblock %}

{% block title %}
    방문 등록
{% endblock %}

{% block content %}

<div class="container review-content d-flex align-items-center justify-content-center" style="height:93.3vh;">
    <div class="cafe-info shadow-sm card" style="width:44vw;">
        <form action="{% url 'cafe:enroll_cafe' %}" method='post' class="my-auto">
            <div class="">
                <div class="">
                    <div class="fw-bold display-5 text-center" id="exampleModalLabel" name="cafeTitle">
                        <input type="hidden" name="cafename" value="{{ cafe.name }}">
                        <input type="hidden" name="cafeid" value="{{ cafe.id }}">
                        <span style="font-size: 30px; font-weight: bold; font-family: NEXON Lv2 Gothic Bold;">{{cafe.name}}</span>
                    </div>
                </div>
                {% if error %}
                    <div style="color:red; text-align: center;">
                        {{error}} 
                    </div>
                {% endif %}
            
                <div class="d-flex drink-list" style="flex-direction: column; margin-top: 2rem!important;">
                    <p class="modalcontent" style="font-size: 23px; text-align: center; margin-bottom:5%;">마신 음료를 체크해주세요!</p>
                    <section class="check-div mb-3">
                        <div class="check_wrap">
                            <label class="check">
                                <input type="radio" onclick="document.getElementById('etc_{{cafe.id}}').disabled = true;" name="beverage" value="아메리카노" class="save_check">
                                <span class="check_icon"></span>
                            </label>
                            <label class="check_label mb-1">아메리카노</label>
                        </div>
                        <div class="check_wrap">
                            <label class="check">
                                <input type="radio" onclick="document.getElementById('etc_{{cafe.id}}').disabled = true;" name="beverage" value="바닐라라떼" class="save_check">
                                <span class="check_icon"></span>
                            </label>
                            <label class="check_label mb-1">바닐라 라떼</label>
                        </div>
                        <div class="check_wrap">
                            <label class="check">
                                <input type="radio" onclick="document.getElementById('etc_{{cafe.id}}').disabled = true;" name="beverage" value="카페라떼" class="save_check">
                                <span class="check_icon"></span>
                            </label>
                            <label class="check_label mb-1">카페라떼</label>
                        </div>
                        <div class="check_wrap">
                            <label class="check">
                                <input type="radio" onclick="document.getElementById('etc_{{cafe.id}}').disabled = true;" name="beverage" value="카라멜마끼야또" class="save_check">
                                <span class="check_icon"></span>
                            </label>
                            <label class="check_label mb-1">카라멜마끼야또</label>
                        </div>  
                        <div class="check_wrap">
                            <label class="check">
                                <input type="radio" onclick="document.getElementById('etc_{{cafe.id}}').disabled = true;" name="beverage" value="초코라떼" class="save_check">
                                <span class="check_icon"></span>
                            </label>
                            <label class="check_label mb-1">초코라떼</label>
                        </div>  
                        <div class="check_wrap">
                            <label class="check">
                                <input type="radio" onclick="document.getElementById('etc_{{cafe.id}}').disabled = true;" name="beverage" value="녹차라떼" class="save_check">
                                <span class="check_icon"></span>
                            </label>
                            <label class="check_label mb-1">녹차라떼</label>
                        </div>  
                        <div class="check_wrap">
                            <label class="check">
                                <input type="radio" onclick="document.getElementById('etc_{{cafe.id}}').disabled = true;" name="beverage" value="에이드" class="save_check">
                                <span class="check_icon"></span>
                            </label>
                            <label class="check_label mb-1">에이드</label>
                        </div>  
                        <div class="check_wrap">
                            <label class="check">
                                <input type="radio" onclick="document.getElementById('etc_{{cafe.id}}').disabled = true;" name="beverage" value="허브차" class="save_check">
                                <span class="check_icon"></span>
                            </label>
                            <label class="check_label mb-1">허브차</label>
                        </div>  
                        <div class="check_wrap">
                            <label class="check">
                                <input type="radio" onclick="document.getElementById('etc_{{cafe.id}}').disabled = false;" name="beverage" class="save_check">
                                <span class="check_icon"></span>
                            </label>
                            <label class="check_label mb-1">기타</label>
                            <input type="text" id="etc_{{cafe.id}}" name="beverage" value="" placeholder="음료명" disabled="disabled" style="height:25px; margin-left: 10px; font-family: Wemakeprice-Bold;"/>
                        </div>
                    </section>
                </div>
                
                <div class="mt-5 mb-3 d-flex justify-content-center">
                    <input type="hidden" name="next" value="{{ next }}">
                    <button type="submit" id="submit_btn_{{cafe.id}}" class="button2" style="background-color:lightblue;">추가</button>
                    <a type="button" class="button2" onClick="location.href='{% url 'cafe:cafe_map' %}'"style="background-color:lightpink; margin-right: 10px; margin-left:13px; padding: 1px 6px;">닫기</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

