{% extends 'base.html' %}
{% load static %}

{% block css%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/review_list.css' %}">
{% endblock %}

{% block title %}
    방문 등록
{% endblock %}

{% block content %}

<div class="container review-content d-flex align-items-center justify-content-center" style="height:93.3vh;">
    <div class="cafe-info shadow-sm card" style="height:60vh; width:40vw;">
        <form action="{% url 'cafe:enroll_cafe' %}" method='post' class="my-auto">
            <div class="">
                <div class="">
                    <div class="fw-bold display-5 text-center" id="exampleModalLabel" name="cafeTitle">
                        <input type="hidden" name="cafename" value="{{ cafe.name }}">
                        <input type="hidden" name="cafeid" value="{{ cafe.id }}">
                        <span style="font-size: 30px;">{{cafe.name}}</span>
                    </div>
                </div>
                {% if error %}
                    <div style="color:red;">
                        {{error}} 
                    </div>
                {% endif %}
                <div class="d-flex mt-5 drink-list" style="flex-direction: column;">
                    <p style="font-size: 20px; text-align: center; margin-bottom:7%;">마신 음료를 체크해주세요!</p>
                    <div>
                        <input type="radio" onclick="document.getElementById('etc_{{cafe.id}}').disabled = true;" name="beverage" value="아메리카노">
                        <span>아메리카노</span>
                    </div>
                    <div>
                        <input type="radio" onclick="document.getElementById('etc_{{cafe.id}}').disabled = true;" name="beverage" value="바닐라라떼">
                        <span>바닐라라떼</span>
                    </div>
                    <div>
                        <input type="radio" onclick="document.getElementById('etc_{{cafe.id}}').disabled = true;" name="beverage" value="카페라떼">
                        <span>카페라떼</span>
                    </div>
                    <div>
                        <input type="radio" onclick="document.getElementById('etc_{{cafe.id}}').disabled = true;" name="beverage" value="카라멜마끼야또">
                        <span>카라멜마끼야또</span>
                    </div>
                    <div>
                        <input type="radio" onclick="document.getElementById('etc_{{cafe.id}}').disabled = true;" name="beverage" value="초코라떼">
                        <span>초코라떼</span>
                    </div>
                    <div>
                        <input type="radio" onclick="document.getElementById('etc_{{cafe.id}}').disabled = true;" name="beverage" value="녹차라떼">
                        <span>녹차라떼</span>
                    </div>
                    <div>
                        <input type="radio" onclick="document.getElementById('etc_{{cafe.id}}').disabled = true;" name="beverage" value="에이드">
                        <span>에이드</span>
                    </div>
                    <div>
                        <input type="radio" onclick="document.getElementById('etc_{{cafe.id}}').disabled = true;" name="beverage" value="허브차">
                        <span>허브차</span>
                    </div>
                    <div>
                        <input type="radio" onclick="document.getElementById('etc_{{cafe.id}}').disabled = true;" name="beverage">
                        <span>기타</span>
                        <input type="text" id="etc_{{cafe.id}}" name="beverage" value="" placeholder="음료명" style="height:20px;"/>
                    </div>
                </div>
                
                <div class="mt-5 mb-3 d-flex justify-content-center">
                    <input type="hidden" name="next" value="{{ next }}">
                    <button type="submit" id="submit_btn_{{cafe.id}}" class="main-reverse-btn">등록하기</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

