{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/review_list.css' %}">
{% endblock %}
{% block title %}
    {{ this_cafe.name }} 리뷰
{% endblock %}
{% block content %}
<div class="container review-content">
    <!-- 카페 정보 컨테이너 -->
    <div class="px-4 py-3 my-5 cafe-info shadow-sm card">
        <h1 class="display-5 fw-bold text-center">{{ this_cafe.name }}</h1>
        <div class="col-lg-6 mx-auto mb-3 text-center">
            <div class="review-cafe-address">
                <span class="lead">{{ this_cafe.address }}&nbsp;&nbsp;</span>
                <svg class="map-icon" onclick="location.href= '{% url 'this_cafe_map' this_cafe.id %}'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <path d="M256,0C150.112,0,64,86.112,64,192c0,133.088,173.312,307.936,180.672,315.328  C247.808,510.432,251.904,512,256,512c4.096,0,8.192-1.568,11.328-4.672C274.688,499.936,448,325.088,448,192  C448,86.112,361.888,0,256,0z"/>
                    <circle style="fill:#FAFAFA;" cx="256" cy="192" r="96"/>
                </svg>
            </div>
                <div class="rating_wrap_parents">
                    <div class="rating_wrap">
                        <div class="not_rating">
                            <div class="star_wrap"><div class="star"><i class="fas fa-star empty_star"></i></div></div>
                            <div class="star_wrap"><div class="star"><i class="fas fa-star empty_star"></i></div></div>
                            <div class="star_wrap"><div class="star"><i class="fas fa-star empty_star"></i></div></div>
                            <div class="star_wrap"><div class="star"><i class="fas fa-star empty_star"></i></div></div>
                            <div class="star_wrap"><div class="star"><i class="fas fa-star empty_star"></i></div></div>
                        </div>
                    </div>
                    <div class="rating_wrap">
                        <div class="rating" data-rate="{{ this_cafe.cafe_stars }}">
                            <div class="star_wrap"><div class="star"><i class="fas fa-star full_star"></i></div></div>
                            <div class="star_wrap"><div class="star"><i class="fas fa-star full_star"></i></div></div>
                            <div class="star_wrap"><div class="star"><i class="fas fa-star full_star"></i></div></div>
                            <div class="star_wrap"><div class="star"><i class="fas fa-star full_star"></i></div></div>
                            <div class="star_wrap"><div class="star"><i class="fas fa-star full_star"></i></div></div>
                        </div>
                    </div>
                </div>
                <span class="rating_number">({{ this_cafe.cafe_stars }}점)</span>
            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button class="fw-bold btn btn-outline-warning another-review-button" onclick="location.href= 'https://place.map.kakao.com/{{this_cafe.pk}}'">카카오 리뷰</button>
                <button class="fw-bold btn btn-outline-success another-review-button" onClick="location.href='https://map.naver.com/v5/search/{{this_cafe.name}}'">네이버 리뷰</button>
                <button class="fw-bold btn btn-outline-danger another-review-button" onClick="location.href='https://google.com/search?q={{this_cafe.name}}'">구글 리뷰</button>
            </div>
        </div>

    <!-- 리뷰 작성 컨테이너 -->
    {% if is_visit %}
        <div class="shadow-sm card mb-3 review-create d-flex justify-content-center align-items-center" onclick="location.href='{% url 'cafe:review_create' this_cafe.id %}'">
            <div>
                <span>CafeGo 리뷰 작성</span>
            <!--
                <svg class="add-icon" onclick="location.href='{% url 'cafe:review_create' this_cafe.id %}'" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 42 42" style="enable-background:new 0 0 42 42;" xml:space="preserve">
                    <path d="M37.059,16H26V4.941C26,2.224,23.718,0,21,0s-5,2.224-5,4.941V16H4.941C2.224,16,0,18.282,0,21  s2.224,5,4.941,5H16v11.059C16,39.776,18.282,42,21,42s5-2.224,5-4.941V26h11.059C39.776,26,42,23.718,42,21S39.776,16,37.059,16z"/>
                </svg>
            -->
            </div>
        </div>
    {% endif %}
    
    <!-- 리뷰 컨테이너 -->
    <div class="cafe-review shadow-sm card mb-4 px-5">
    {% if each_reviews.count > 0 %}
        <div class="review-list-sequence">
            <div style="display: table; margin-right: 10px;">
                <span><b>전체</b> {{each_reviews.count}}</span>
            </div>
            <div class="dropdown">
                <a class="btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <b>{{selected}}</b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href='{% url 'cafe:sort_latest' this_cafe.id %}'>최신 순</a></li>
                    <li><a class="dropdown-item" href='{% url 'cafe:sort_visit' this_cafe.id %}'>방문 순</a></li>
                    <li><a class="dropdown-item" href='{% url 'cafe:sort_total_visit' this_cafe.id %}'>총 방문 순</a></li>
                    <li><a class="dropdown-item" href='{% url 'cafe:sort_review' this_cafe.id %}'>리뷰 순</a></li>
                </ul>
            </div>
        </div>

        <!-- 리뷰 하나하나 -->
        <article class="each-review">
            {% for reviews in each_reviews %}
                <hr/>
                <div class="d-flex justify-content-between">
                    <div class="reviewer-name d-flex">
                        <a href="{% url 'mypage' reviews.username.pk %}" style="font-weight:bold;">{{ reviews.username }} </a>

                        {% if reviews.review_stars == '1.0' %}
                            <span>⭐</span>
                        {% elif reviews.review_stars == '2.0' %}
                            <span>⭐⭐</span>
                        {% elif reviews.review_stars == '3.0' %}
                            <span>⭐⭐⭐</span>
                        {% elif reviews.review_stars == '4.0' %}
                            <span>⭐⭐⭐⭐</span>
                        {% elif reviews.review_stars == '5.0' %}
                            <span>⭐⭐⭐⭐⭐</span>
                        {% endif %}
                        <div class="reviewer-info">
                            <span> {{reviews.visit_cafe.visit_count}}번째 방문</span><!--세현 8/11삽질노트-->
                            <span>총 방문 {{ reviews.username.total_visit }}</span>
                            <span>리뷰 {{ reviews.username.total_review }}</span>
                        </div>
                    </div>
                    <div>
                        {% if reviews.username == request.user %}
                            <button class="main-btn" onclick="location.href='{% url 'review_update' reviews.id %}'">수정</button>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <div class="each-review-content">
                        {{ reviews.content }}
                    </div>
                    <div class="review-img">
                        {% if review_photo %}
                            {% for img in review_photo %}
                                {% if img.review.id == reviews.id %}
                                    <!-- TODO: 이미지 크기 키우는 modal 만들기-->
                                    <img src={{img.image.url}}>       
                                {% endif %}
                            {% endfor %}   
                        {% endif %}
                    </div>
                </div>
                <div class="review-create-at">
                    <span>{{ reviews.created_at }}</span>
                </div>
                <br/>
                    <details>
                        <summary>
                            댓글
                        </summary>
                        <hr/>
                        <div class="comments-{{reviews.id}}">
                        {% for comment in comments %}
                            {% if comment.post == reviews %}
                                <div class="comment-{{comment.id}} my-1">
                                    <div class="row align-items-center">
                                        <div class="col-2">
                                            <a href="{% url 'mypage' comment.username.pk %}" style="font-weight:bold;">{{ comment.username }} </a>
                                        </div>
                                        <div class="col-4">{{comment.content}}</div>
                                        <div class="col-4" style="font-size: 13px;">{{comment.created_at}}</div>
                                        {% if comment.username == user %}
                                        <div class="col-2">
                                            <button class="main-btn" style="margin-left: 27px;" onclick="commentDelete('{{comment.id}}');">삭제</button>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <hr/>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <input class="input-{{reviews.id}} comment-write" type="text" style="width:90%" placeholder="댓글 달기" value="" onkeyup="if(window.event.keyCode==13){commentWrite('{{reviews.id}}')}"/>
                        <button class="main-reverse-btn" onclick="commentWrite('{{reviews.id}}');">게시</button>
                    </details>        
                <br/>
            {% endfor %}
        </article>
    {% else %}
    <div class="cafe_info position-relative overflow-hidden m-0 text-center" style="padding: 1rem;">
        <span>아직 등록된 리뷰가 없어요😭😭  &nbsp; 방문카페 등록 후 첫번째 리뷰의 주인공이 되어 보세요!</span>
    <hr/>
    {% endif %}
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.js"></script>
<script type="text/javascript">
    //댓글 달때 value 초기화
    function valueReset(review_id) {
        $(`.input-${review_id}`).val("");
    }

    // 댓글 작성
    const requestWrite = new XMLHttpRequest();

    const commentWrite = (review_id) => {
        const url = '/cafe/comment_write/';
        const content = document.querySelector(`.input-${review_id}`).value;
        requestWrite.open('POST', url, true);
        requestWrite.setRequestHeader(
            'Content-Type',
            'application/x-www-form-urlencoded'
        );
        requestWrite.send(JSON.stringify({'review_id': review_id, 'content': content}));
    };

    const writeResponse = () => {
        if(requestWrite.status < 400) {
            const {review_id, comment_user, content, comment_id, username, comment_time, notification} = JSON.parse(requestWrite.response);
            const comments = document.querySelector(`.comments-${review_id}`);
            const element = document.querySelector(`.input-${review_id}`);
            valueReset(review_id);
            comments.innerHTML += `
                <div class="comment-${comment_id} my-1">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <a href="../../../mypage/${comment_user}">${username}</a>
                        </div>
                        <div class="col-4">${content}</div>
                        <div class="col-4" style="font-size: 13px;">${comment_time}</div>
                        <div class="col-2">
                            <button class="main-btn" style="margin-left: 29px;" onclick="commentDelete('${comment_id}');">삭제</button>
                        </div>
                    </div>
                    <hr/>
                </div>
            `;
        }
    };

    requestWrite.onreadystatechange = () => {
        if(requestWrite.readyState === XMLHttpRequest.DONE) {
            writeResponse();
        }
    };

    //댓글 삭제
    const requestDelete = new XMLHttpRequest();

    const commentDelete = (comment_id) => {
        const url = '/cafe/comment_delete/';
        requestDelete.open('POST', url, true);
        requestDelete.setRequestHeader(
            'Content-Type',
            'application/x-www-form-urlencoded'
        );
        requestDelete.send(JSON.stringify({comment_id: comment_id}));
    };

    const deleteResponse = () => {
        if(requestDelete.status < 400) {
            const {comment_id} = JSON.parse(requestDelete.response);
            const element = document.querySelector(`.comment-${comment_id}`);
            element.remove();
        }
    };

    requestDelete.onreadystatechange = () => {
        if(requestDelete.readyState === XMLHttpRequest.DONE) {
            deleteResponse();
        }
    };

    //카페 별점 매기기
    var rating = $('.rating'); //rating class 불러와
    
    rating.each(function() { //rating 각자마다 할 일이 있다.
        var $this = $(this); //rating을 this로 부른다.
        var targetScore = $this.attr('data-rate'); 
        var firstdigit = targetScore.split('.'); //나눠서 배열로 만듦 ex) 3.5점이면 ['3', '5']이렇게 됨

        if (firstdigit.length > 1) { //배열의 개수가 1보다 크니까 소수점이 있다는 의미
            for(var i = 0; i<firstdigit[0]; i++) { //배열 첫 번째 요소, 즉 일의 자리는 똑같이 반복문 돌리기
                $this.find('.star').eq(i).css({width:'100%'}); 
            }
            $this.find('.star').eq(firstdigit[0]).css({width:firstdigit[1]+'0%'});
        } else {
            for(var i = 0; i<targetScore; i++) { //소수점이 없으면 별점만큼 반복해서
                $this.find('.star').eq(i).css({width:'100%'}); //star 찾아서 채워주기
            }
        }
    });
</script>
{% endblock %}