{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block title %}
    login
{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

<section id="login_page" class="py-4 px-5 text-center">
  <header class="pt-3 login_head">
      <div class="pricing-header p-2 pb-md-4 mx-auto text-center">
          <p class="fs-5 text-muted page_info">로그인을 해서 카페고의 모든 서비스를 즐겨보세요!</p>
      </div>
  </header>
  
  <div class="container position-relative overflow-hidden mx-auto pt-5 text-center bg-light" style="width: 78%; border-radius: 1%;">
    
      <div class="img">
        <img src="../../../static/image/undraw_coffee_break_j3of.svg">
      </div>
      <img class="wave" src="../../../static/image/wave.png">
      
      <div class="login-container">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          <img class="avatar" src="../../../static/image/undraw_male_avatar_323b.svg">
            {% if messages %}
              <div style="color:red;">
                {% for message in messages %}
                    {{ message.tags }}! {{ message.message }}
                {% endfor %}
            </div>
            {% endif %}
            <table class="text-center mt-3" style="width:100%;">
              {% csrf_token %}

              <tr class="input-div one">
                <td class="i table">
                  <i class="fas fa-user-alt icon"></i>
                </td>
                <td class="table">
                  <h5 for="id_login" class="label">아이디</h5>
                  <input class="input" type="text" name="login" autocomplete="username" maxlength="150" required="" id="id_login">
                </td>
              </tr>

              <tr class="input-div two">
                <td class="i table">
                  <i class="fas fa-lock icon"></i>
                </td>
                <td class="table">
                  <h5 for="id_password" class="label">비밀번호</h5>
                  <input class="input" type="password" name="password" autocomplete="current-password" required="" id="id_password">
                </td>
              </tr>


              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
            </table>
            <div class="save_wrap">
              <label class="check">
                <input type="checkbox" name="remember" id="id_remember" class="save_check">
                <span class="check_icon"></span>
              </label>
              <span for="id_remember" class="save_label mb-1">아이디 저장</span>
            </div>
          <button class="btn button" type="submit">Cafe GO!</button>

          <hr style="color: #B3A29A;"/>
          <img src="../../../static/image/Google__G__Logo.svg" style="width:8%; height:10%; background-color: #fff;">
          <a class="btn social-btn google" href="{% provider_login_url 'google' %}" style="position :relative; left: -4px;">구글 로그인</a>
          <img src="../../../static/image/네이버㈜_로고.png" style="width:10%; height:10%">
          <a class="btn social-btn naver" href="{% provider_login_url 'naver' %}" style="position :relative; left: -9px;">네이버 로그인</a>
          <img src="../../../static/image/kakaotalk.svg" style="width:8%; height:10%">
          <a class="btn social-btn kakao" href="{% provider_login_url 'kakao' %}" style="position :relative; left: -6px;">카카오 로그인</a>
          <br><br>
          <a href="{% url 'signup' %}" class="findPw">계정이 없다면 <span style="color: #5ba39e; cursor:pointer;">회원가입</span>을 진행하세요.</a>
          <a class="findPw" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          <br>
          
        </form>
      </div>
  </div>
</section>  
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.js"></script>

<script type="text/javascript">
  //로그인 입력 효과
  const inputs = document.querySelectorAll('.input');

  function focusFunc() {
    let parent = this.parentNode.parentNode;
    parent.classList.add('focus');
  }

  function blurFunc() {
    let parent = this.parentNode.parentNode;
    if(this.value == "") {
      parent.classList.remove('focus');
    }
  }

  inputs.forEach ( input => {
    input.addEventListener('focus', focusFunc);
    input.addEventListener('blur', blurFunc);
  });

  if(is_failed==1)
  {
    alert("아이디 또는 비밀번호가 맞지 않습니다");
  }


  </script>

{% endblock %}
