{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div style="background-color: #F0D9CE; padding:140px; 0px;">
    <div class="container position-relative overflow-hidden text-center">
        <div class="col">
            <div class="row">
                <p style="font-size:80px; font-family: Cafe24Danjunghae; color: #704F3F; text-shadow: 2px 2px 2px #B3A29A;" class="text-center">비밀번호 변경</p>
            </div>
            <div class="row mt-5">
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form method="POST" style="font-weight:700; font-size:20px; color: #704F3F;" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" style="border-radius:8px" name="action" value="{% trans 'change password' %}"/>
                        </form>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="row mt-5">
                <p class="text-center">문의사항은 'pirocafego@gmail.com'으로 전달하여 주십시오</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
