{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block css%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}
{% block content %}

<div style="background-color: #F0D9CE; padding:120px; 0px;">
    <div class="container position-relative overflow-hidden text-center">
        <div class="col">
            <div class="row">
                <p style="font-size:80px; font-family: Cafe24Danjunghae; color: #704F3F; text-shadow: 2px 2px 2px #B3A29A;" class="text-center">비밀번호 변경</p>
            </div>
            <div class="row mt-5">
                <form style="font-weight:700; font-size:20px; color: #704F3F;" method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="action">{% trans "Change Password" %}</button>
                    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>
            </div>
            <div class="row mt-5">
                <p class="text-center">문의사항은 'pirocafego@gmail.com'으로 전달하여 주십시오</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
