{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block css%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}
{% block content %}
<div style="background-color: #F0D9CE; padding:240px; 0px;">
    <div class="container position-relative overflow-hidden text-center">
        <div class="col">
            <div class="row">
                <p style="font-size:80px; font-family: Cafe24Danjunghae; color: #704F3F; text-shadow: 2px 2px 2px #B3A29A;" class="text-center">비밀번호 초기화</p>
            </div>
            <div class="row mt-5">
                <p style="font-size:20px; color: #704F3F;" class="text-center">이메일을 전송하였습니다. 몇 분 후에도 이메일이 오지 않으면 'pirocafego@gmail.com'으로 문의하여 주십시오</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
