{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block css%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}
{% block content %}

<div style="background-color: #F0D9CE; padding:200px; 0px;">
    <div class="container position-relative overflow-hidden text-center">
        <div class="col">
            <div class="row">
                <p style="font-size:80px; font-family: Cafe24Danjunghae; color: #704F3F; text-shadow: 2px 2px 2px #B3A29A;" class="text-center">비밀번호 변경</p>
            </div>
            <div class="row mt-5">
                <p style="font-size:20px; color: #704F3F;" class="text-center">{% trans 'Your password is now changed.' %}</p>
            </div>
            <div class="row mt-2 justify-content-center">
                <button onclick="location.href='/login'" class="text-center" style="border-radius:8px;width:100px; height:50px;">로그인</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
