{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/5d4168f05a.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" href="../../media/static/image/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="../../media/static/image/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../media/static/image/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../media/static/image/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../media/static/image/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../media/static/image/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../media/static/image/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../media/static/image/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../media/static/image/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../media/static/image/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../../media/static/image/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../media/static/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../media/static/image/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../media/static/image/favicon-16x16.png">
    <link rel="manifest" href="../../media/static/image/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% block css %}
    {% endblock %}
    <title>CAFE GO! {% block title %}{% endblock %}</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <!-- ------------------------------------네비게이션 바--------------------------------------- -->
    <nav class="navbar navbar-expand-lg bg-lightgray sticky-top px-2">
        <div class="container-fluid">
            {% if user.is_authenticated %}
                <a href="{% url 'main' %}" class="navbar-brand" style="width: 126px;">
                    <span id="header-logo-image">CAFE GO!</span>
                </a><span class="blind-logo">카페고 로고</span>
                
                <span class="mx-3 nev_text">{{user.nickname}}님 안녕하세요!</span>
                <div class="nav-item" style="padding-bottom: 0.3%;">
                    {% show_notifications %}
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:#fff; font-size:28px;"></i></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarText">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-2">
                            <a class="nav-item-hover nev_text" href="{% url 'cafe:cafe_list' %}">카페검색</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-item-hover nev_text" href="{% url 'cafe:cafe_map' %}">카페지도</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-item-hover nev_text" href="{% url 'mypage' user.pk %}">마이페이지</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-item-hover nev_text" href="{% url 'rank_list' %}">랭킹</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-item-hover nev_text" href="{% url 'badge_list' user.pk %}">배지</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-item-hover nev_text" href="{% url 'friend_search' %}">유저검색</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-item-hover nev_text" href="{% url 'logout' %}">로그아웃</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <a href="{% url 'main' %}" class="navbar-brand" style="width: 126px;">
                    <span id="header-logo-image">CAFE GO!</span>
                </a><span class="blind-logo">카페고 로고</span>
                <div class="d-flex">
                    <ul class="navbar-nav">
                        <li class="nav-item mx-2">
                            <a class="nav-item-hover nev_text" href="/login">로그인</a> 
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-item-hover nev_text" href="{% url 'signup' %}">회원가입</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/social.js' %}"></script>
</body>
</html>